{% load staticfiles %}
<!--Popular destinations-->
<!-- <div class="col-md-10 col-md-offset-1  col-xs-12" style="min-height: 1000px"> -->
	<div class="row" style="min-height: 220px" id="day-trips-here">
		<!-- <center><h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> More places to visit</h3></center><br> -->
		<!-- <caption align="left|right|top|bottom"> -->
		<!-- <br>
		<br>
		<br> -->
		<hr>
		<center><h2 style="color: #CF000F; font-weight: bold; font-family: tahoma;background-color: pink; padding: 5px" onmouseover="this.style.color='red'" onmouseleave="this.style.color='#CF000F'"><i class="fa fa-bus" aria-hidden="true" ></i> Weekends</h2></center>
		<hr>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Ooty/ooty.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 247px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Ooty</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Kodaikanal/kodaikanal.jpg' %}" alt="place2" class="img-responsive bangalore" style="height: 247px; width: 100%">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Kodaikanal</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Chikmangalore/chikmangalore.jpg' %}" alt="place2" class="img-responsive bangalore" style="height: 247px; width: 100%">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Chikmangalore</h2></center></a>
            </div>
		</div>
	</div>
	<br>
	<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Wayanad/wayanad.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Wayanad</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/Abbey_falls_Coorg.jpg' %}" alt="place2" class="img-responsive bangalore" style="height: 278px; width: 100%">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Coorg </h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Munnar/munnar.jpg' %}" alt="place2" class="img-responsive bangalore"  style="height: 278px; width: 100%">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Munnar</h2>
             
            </div>
		</div>
	</div>
	<br>
	<!--3RD ROW-->
		<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Alleppy/high-hd-best-allepy.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Alleppey</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/pondicherry.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 278px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Pondicherry</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/Pilgrimages/sakleshwara.jpg' %}" alt="place2" class="img-responsive bangalore" style="height: 278px; width: 100%">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Sakleshwara</h2></center></a>
            </div>
		</div>
	</div>
	<br>
	<!--4TH ROW-->
	<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Kanyakumari/kanyakumari_sunrise.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Kanyakumari</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Kabini/Reaching-Kabini.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 278px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Kabini</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Bandipur/bandipur-national-park.jpg' %}" alt="place2" class="img-responsive bangalore" style="height: 278px; width: 100%">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Bandipur national park</h2></center></a>
            </div>
		</div>
	</div>
	<br>
	<!--5TH ROW-->
		<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Murdeshwar/murdeshwar.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Murdeshwar</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Mahabalipuram/mahabalipuram.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 276px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Mahabalipuram</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/YerCadu/Yercaud-Hill-Station-in-TamilNadu-696x464.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 276px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Yercadu</h2></center></a>
            </div>
		</div>
	</div>
	<br>
		<!--6TH ROW-->
	<div class="row" style="min-width: 220px">
		<div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/JogFalls/Waterfalls-Jog-Falls.jpg' %}" class="img-responsive bangalore" alt="place1" style="min-height: 277px">
			</a>
			<!--Image text-->
			<div class="carousel-caption">
              <a href="/v1/images/north-indian-temples" style="color: white; "><center><h2>Jog Falls</h2></center></a>
            </div>
		</div>
		<!-- <div class="col-md-4 col-xs-12" style="min-height: 210px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/Mahabalipuram/mahabalipuram.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 276px">
			</a>
			
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Mahabalipuram</h2></center></a>
            </div>
		</div>
		<div class="col-md-4 col-xs-12" style="min-height: 200px">
			<a href="/v1/images/south-indian-temples/">
				<img src="{% static './images/sure_cabs_2/weekends/YerCadu/Yercaud-Hill-Station-in-TamilNadu-696x464.jpg' %}" alt="place2" class="img-responsive bangalore" style="min-height: 276px">
			</a>
		
			<div class="carousel-caption">
              <a href="/v1/images/south-indian-temples" style="color: white;"><center><h2>Yercadu</h2></center></a>
            </div>
		</div> -->
	</div>
	<br>
<!-- </div> -->


