    {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
        <!-- <li data-target="#myCarousel" data-slide-to="3"></li> -->
        
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide img-responsive" src="http://purpleblue.co.za/wp-content/uploads/2017/02/about_us.png" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
            {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_u">We are</span>
                <span class="span_s">passionate</span>
              </h1>
              <p>We love our work and always try to improve our quality</p>
              <p><a class="btn btn-lg btn-danger" href="#p_head" role="button">Know more &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item active">
          <img class="second-slide img-responsive" src="http://www.tekacademy.com/wp-content/uploads/2015/04/Profile5.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
            {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_r">We are </span>
                <span class="span_e">vehicle providers </span>
              </h1>
              <p>We serve you Cabs, Mini buses, Buses &amp; Trucks</p>
              <p><a class="btn btn-lg btn-danger" href="#p_head" role="button">Know more &raquo;</a></p>
            </div>
          </div>
        </div>
       
 
         <!-- <div class="item">
          <img class="fifth-slide img-responsive" src="https://www.autographleasing.co.uk/images/about_us_banner.jpg" alt="First slide" style="opacity: 0.6">
          <div class="container">
            <div class="carousel-caption">
            {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_u">We provide </span>
                <span class="span_s">Cars</span>
              </h1>
              <p>You can enjoy with your families.Good for small family</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">Get a cab &raquo;</a></p>
            </div>
          </div>
        </div> -->

        <!-- <div class="item">
          <img class="fourth-slide img-responsive" src="https://www.goairlinkshuttle.com/media/wysiwyg/airport-transporation-new-york-city.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">We always guarantee</span>
                  <span class="span_r">for our service</span></h1>
              <p>Have a nice ride, we guarantee you for our excellent services</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Gone</a></p>
            </div>
          </div>
        </div> -->
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div><!-- /.carousel -->