  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1900">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
        <!-- <li data-target="#myCarousel" data-slide-to="3"></li> -->
        <!-- <li data-target="#myCarousel" data-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="{% static './images/sure_cabs_2/sockandro/nandihills.jpeg' %}" alt="Vaisno devi">
          <div class="container">
              <div class="carousel-caption">
                <h1>
                  <span class="span_u">Nandi</span>
                  <span class="span_s">hills</span>
                </h1>
              </div>
            </div>
        </div>

        <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/sure_cabs_2/sockandro/nandihills2.jpg' %}" alt="Vaisno devi">
          <div class="container">
              <div class="carousel-caption">
                <h1>
                  <span class="span_u">Nandi</span>
                  <span class="span_s">hills</span>
                </h1>
              </div>
            </div>
        </div>
        <!-- <div class="item">
          <img class="second-slide img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/ISKCON_Banglaore_Temple.jpg/1200px-ISKCON_Banglaore_Temple.jpg" alt="Kashi vishvanath temple">
            <div class="container">
              <div class="carousel-caption">
                <h1>
                  <span class="span_u">Iskcon</span>
                  <span class="span_s">Temple</span>
                </h1>
              </div>
            </div>
        </div> -->

<!--         <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/cubbon-park2.jpeg' %}" alt="Kashi vishvanath temple">
          <div class="container">
              <div class="carousel-caption">
                <h1>
                  <span class="span_u">Cubbon</span>
                  <span class="span_s">Park</span>
                </h1>
              </div>
            </div>
        </div> -->

      </div> 
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->