    {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol> -->
      <div class="carousel-inner" role="listbox">
       <!--  <div class="item active">
          <img class="first-slide img-responsive" src="{% static './images/terms2.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Terms and </span>
                <span class="span_s">conditions</span>
              </h1>
              <p>It is advisable to enter the time and kilometre before starting the trip 
</p>
              <p><a class="btn btn-lg btn-danger" href="#terms-desc" role="button">Read more &raquo;</a></p>
            </div>
          </div>
        </div> -->
        <div class="item active">
          <img class="second-slide img-responsive" src="{% static './images/terms3.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <!-- <h1>
                <span class="span_r">Terms and </span>
                <span class="span_e">conditions </span>
              </h1> -->
          <!--     <p>As per the new Government rules, GST will be charged 
</p> -->    <!--   <div style="height: 20px">&nbsp;</div> -->

              <p>
                  <a class="btn btn-lg btn-danger" href="#terms-desc" role="button">Read more &raquo;</a>
              </p>
            </div>
          </div>
        </div>
       <!-- <div class="item">
         
          <img class="third-slide img-responsive" src="{% static 'images/bangalore-airport.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">We provide </span>
                <span class="span_r">vehicles </span></h1>
              <p>You can go everywhere. Station, Airport or Outstation</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Know more &raquo;</a></p>
            </div>
          </div>
        </div>
 
         <div class="item">
          <img class="fifth-slide img-responsive" src="{% static 'images/about-1.jpg' %}" alt="First slide" style="opacity: 0.6">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">We provide </span>
                <span class="span_s">Cars</span>
              </h1>
              <p>You can enjoy with your families.Good for small family</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Get a cab &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="fourth-slide img-responsive" src="{% static './images/Blue_Jaguar_F_Pace_2017_Car_HD_Wallpaper.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">We always guarantee</span>
                  <span class="span_r">for our service</span></h1>
              <p>Have a nice ride, we guarantee you for our excellent services</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Gone</a></p>
            </div>
          </div>
        </div> -->
      </div>
      <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
  </div><!-- /.carousel -->