  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
        <!-- <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- <div class="item">
          <img class="first-slide img-responsive" src="{% static 'images/offers1.png' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">

              {% include "carousels/quick_booking.html" %}

              <h1>
                <span class="span_u">Don't forget </span>
                <span class="span_s">to come back</span>
              </h1>
              <p>As we always provide offers here</p>
              <p><a class="btn btn-lg btn-danger" href="#log-mobi" role="button">See offers &raquo;</a></p>
            </div>
          </div>
        </div> -->
        <div class="item active">
          <img class="second-slide img-responsive" src="{% static './images/offers3.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">

              {% include "carousels/quick_booking.html" %}

              <h1>
                <span class="span_r">See offers</span>
                <span class="span_e">here</span>
              </h1>
              <p> Whenever offers come we update in this page</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">See offers &raquo;</a></p>
            </div>
          </div>
        </div>
       <div class="item">
          <!-- <img class="third-slide img-responsive" src="{% static 'images/nissan_auto_black_street_87159_1920x1080.jpg' %}" alt="Third slide"> -->
          <img class="third-slide img-responsive" src="{% static 'images/offers5.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              {% include "carousels/quick_booking.html" %}
              <h1><span class="span_e">Enjoy</span>
                <span class="span_r">offers</span></h1>
              <p>Don't loose a chance to take advantage</p>
              <p><a class="btn btn-lg btn-danger" href="#" role="button">See offers &raquo;</a></p>
            </div>
          </div>
        </div>
 
         <!-- <div class="item">
          <img class="fifth-slide img-responsive" src="{% static 'images/rinspeed_etos_concept-HD.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Save</span>
                <span class="span_s">money</span>
              </h1>
              <p>We don't apply any extra charge in any condition</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Get a cab &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="third-slide img-responsive" src="{% static './images/Blue_Jaguar_F_Pace_2017_Car_HD_Wallpaper.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">No </span>
                  <span class="span_r">problem</span></h1>
              <p>We guarantee to provide you nice cabs/taxies</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Gone</a></p>
            </div>
          </div>
        </div> -->
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel --> 