  {% load staticfiles %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="{% static './images/login1.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_u">Login</span>
                <span class="span_s">to book your ride</span>
              </h1>
              <p>Your account is necessary to keep you safe</p>
              <p><a class="btn btn-lg btn-success" href="#log-mobi" role="button">Login now &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/login.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
             {% include "carousels/quick_booking.html" %}
              <h1>
                <span class="span_e"> Contact number</span>
                <span class="span_r"> is the must</span>
              </h1>
              <p>Password is for quick login(OTP option is coming soon)</p>
              <p><a class="btn btn-lg btn-primary" href="#login-now" role="button">Login now &raquo;</a></p>
            </div>
          </div>
        </div>
       <div class="item">
          <!-- <img class="third-slide img-responsive" src="{% static 'images/nissan_auto_black_street_87159_1920x1080.jpg' %}" alt="Third slide"> -->
          <img class="third-slide img-responsive" src="{% static 'images/login.png' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_e">Your</span>
                <span class="span_r">login has value </span>
              </h1>
              <p>You login to book our vehicles that adds some values to your account</p>
              <p><a class="btn btn-lg btn-success" href="#login-now" role="button">Let me login &raquo;</a></p>
            </div>
          </div>
        </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div><!-- /.carousel -->