		<div class="row">
			<br>

          <hr>
      <!--COLUMN1-->
      <div class="col-md-12 col-xs-12" >
          
           <center><h2 style="color: gray"><i class="fa fa-arrows" aria-hidden="true"></i> Bangalore City Tour</h2></center>
          
          {% include "carousels/carousel_bangalore_city_tour.html" %}
          <center>
              <a href="/contact/#comment_here" role="button" class="btn btn-danger" data-toggle="tooltip" title="Click here for quick booking"><h6 style="font-family: tahoma; font-size: 20px">Book now</h6></a>
          </center>

          <center>
          <h1>
                <span style="color:gray"><u>Bangalore</u></span>
               
          </h1>
          </center>
          <p style="font-family: serif; padding: 10px; font-size: 18px">

          Bengaluru (also called Bangalore) is the capital of India's southern Karnataka state. The center of India's high-tech industry, the city is also known for its parks and nightlife. By Cubbon Park, Vidhana Soudha is a Neo-Dravidian legislative building.  
          <br>
          <br/>
          Former royal residences include 19th-century Bangalore Palace, modeled after England’s Windsor Castle, and Tipu Sultan’s Summer Palace, an 18th-century teak structure. 

          </p>
        
          <p style="font-family: serif; padding: 10px; font-size: 18px">
            <b>Read more about Bangalore in</b> 
            <a href="https://en.wikipedia.org/wiki/Bangalore">wikipedia</a>
          </p>
          <!-- <center>
          <h1>
                <span style="color:gray"><u>Vidhana Soudha</u></span>
               
          </h1>
          </center>
          <p style="color:#330000;font-family: serif; padding: 10px; font-size: 18px">
                The Vidhana Soudha located in Bengaluru, is the seat of the state legislature of Karnataka. It is an imposing building, constructed in a style sometimes described as Mysore Neo-Dravidian, and incorporates...
                See <a href="https://en.wikipedia.org/wiki/Vidhana_Soudha" role="button">Wikipedia &raquo;</a>
          </p>
        
          <center>
          <h1>
                <span style="color:gray"><u>ISKCON TEMPLE</u></span>
               
          </h1>
          </center>
          <p style="color:#330000;font-family: serif; padding: 10px; font-size: 18px">
               Sri Radha Krishna Temple has deities of Radha and Krishna located at Rajajinagar, in North Bangalore, Karnataka, India. It is one of the largest ISKCON ritvik temples in the world...
                See <a href="https://en.wikipedia.org/wiki/ISKCON_Temple_Bangalore" role="button">Wikipedia &raquo;</a>
          </p> -->
      </div>

    </div>
		<div class="row">
			  <!--  {% for data in locations %}
            {{ data.place }}<br>
            {{ data.locationName}}
         {% endfor %} -->
		</div>		
    <hr>