    <div class="row">
      <br>

          <hr>
      <!--COLUMN1-->
      <div class="col-md-12 col-xs-12" >
          
           <center><h2 style="color: gray"><i class="fa fa-arrows" aria-hidden="true"></i> Bangalore City Tour</h2></center>
          
          {% include "carousels/carousel_nandi_hills.html" %}
          <center>
              <a href="/contact/#comment_here" role="button" class="btn btn-danger" data-toggle="tooltip" title="Click here for quick booking"><h6 style="font-family: tahoma; font-size: 20px">Book now</h6></a>
          </center>

          <center>
          <h1>
                <span style="color:gray"><u>Nandi hills</u></span>
               
          </h1>
          </center>
          <p style="font-family: serif; padding: 10px; font-size: 18px">
              Nandi Hills or Nandi betta (Anglicised forms include Nandidrug and Nandydroog) is an ancient hill fortress in southern India, in the Chikkaballapur district of Karnataka state. It is 10 km from Chickballapur town and approximately 60 km from the city of Bengaluru. 
              <br><br>
              The hills are nestled near the town of Nandi. In traditional belief, the hills are the origin of the Arkavathy river.
         
          </p>
        
          <p style="font-family: serif; padding: 10px; font-size: 18px">
            <b>Read more about Nandi Hills in</b> 
            <a href="https://en.wikipedia.org/wiki/Nandi_Hills,_India">wikipedia</a>
          </p>

      </div>

    </div>
  
    <hr>