		<div class="row">
			
      <!--COLUMN1-->
      <div class="col-md-12  col-xs-12" >
          <br>
          <br>
          <br>
          <hr>
          <center><h2 style="color: gray"><i class="fa fa-university" aria-hidden="true"></i> South indian temples</h2></center>
          

                {% include "carousels/carousel_south_indian_temples.html" %}
           
          <p style="font-family: serif; padding: 10px; font-size: 18px">
          Southern India is a heavenly abode of magnificent monuments, standing majestically from ages. The architecture of the South Indian monuments is breathtakingly beautiful and grand. From Dravidian architecture to to Vijayanagara style of architecture, from elaborate pillars of Chalukyas to minute stone carvings by Krishnadevaraya, each monument has a different tale to tell.
          <br><br>
          From tall, intricately carved gopurams to majestic pillars and life-sized shrines, these South Indian temples are rich in legend and stunning in their grandeur. Considering the novelty and grandeur of these temples, we’ve compiled a list of 10 South Indian Temples that should be visited, no matter what!<br>
          </p>
      </div>
    </div>
		<div class="row">
			  <!--  {% for data in locations %}
            {{ data.place }}<br>
            {{ data.locationName}}
         {% endfor %} -->
		</div>		
    <hr>