{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fish And Meat Way</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        .itemzoom {
          position: relative;
          overflow: hidden;
          padding-bottom: 10px;
          box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       
        
  </style>
</head>
<body>
<div class="container">
	{% verbatim %}
	<center>
	<br>
		<a href="/home-new/">HOME</a> | 
		<a href="/faqs/">FAQs</a> | 
		<a href="/register/">REGISTER </a>| 
		<a href="/v1/login-new/">LOGIN</a>  
		<H1><u>COMING SOON </u></H1>
	</center>
	
	<center><h1 style="color: gray; font-family: sans-serif;">Booking details</h1></center>
	<div ng-app="myApp" ng-controller="customersCtrl" class="row">
			<div ng-repeat="x in myData" class="col-lg-6 col-lg-offset-3 itemzoom" id="card">
					<div>
						
							<center>
								<h3 style="color: green">Booked vehicle details</h3>
								<hr>
							</center>
							<div class="row">
								<div class="col-lg-4">
									<div class="row text-center">
										<img src="{{x.customer.profile_pic}}" width="100" height="100">
									</div>
								</div>
								<div class="col-lg-8">
									<h4>{{x.customer.full_name}}</h4>
									<p>{{x.customer.email}}</p>
									<p>{{x.customer.contact}}</p>
									<p>{{x.customer.address}}</p>
								</div>	
							</div>
						
					</div>
					<hr>
					<div>	
					  		<div class="row">
								<div class="col-lg-4" style="padding-left: 40px;">

									<h4 style="color:blue;">Date of travel</h4>
									<p>{{x.date_of_travel}}</p><hr>
									<h4 style="color:blue;">Date of return</h4>
									<p>{{x.date_of_return}}</p><hr>
									<h4 style="color:blue;">Pick up time</h4>
									<p>{{x.pick_up_time}}</p>
								</div>
								<div  class="col-lg-8">
									<div ng-repeat="vehicle in x.booked_vehicles">
										<div class="row">
										<div class="col-lg-4">
											<img src="{{vehicle.image}}" width="100" height="100">
										</div>
										<div class="col-lg-8">
											<h4>{{vehicle.name}}</h4>
											<p style="color: green">{{vehicle.description}}</p>
											<p style="color:maroon"><b>Rs. {{vehicle.price}}</b></p>


										</div>
										
									</div>
						  				<hr>
									</div>	
									<h2>Rs. <span style="color:red">{{x.total_price}}</span></h2>
								</div>
							</div>
					  			
					  			
					  				
				  			
				  	</div>
		  	</div>
		  	<br>
	</div>
	{% endverbatim %}
</div>

</body>
<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
  $http.get("http://127.0.0.1:8000/v1/booking/booking-details/?format=json").then(function (response) {
      $scope.myData = response.data;
      console.log($scope.myData)
  });
});
</script>
</html>