{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sure Cabs</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sure cabs tours and travels, whose official website is http://surecabs.in/. A cab/bus/mini bus/tempo traveller booking web application where people can book the vehicles by paying money online">

    <meta name="author" content="Praamila Ramamurthy; Sure Cabs; G Rathnakara Sir(Network engineer); Arjun T Sir(Manager); Rishikesh Agrawani">

    <link rel="icon" href="{% static 'images/logo.png' %}">

    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    

    <!--NAVBAR STYLE STARTS-->
    <style type="text/css">
      .navbar .nav .nav-title{
        color: white; 
        font-weight: bold; 
        font-size: 15px;
      }
      .navbar .nav .nav-title:hover{
        color: #bdc3c7; 
        font-weight: bold; 
        font-size: 15px;
      }
      body{
        /*background-color: #ecf0f1;*/
      }

      .container .row .footer_links a{
        color:gray;
      }

      @media  screen and (max-width: 768px) {
          nav div div #mobile_number_hy {
              display: block;
          }
      }
     </style>
     <link rel="stylesheet" type="text/css" href="{% static './css/carousel.css' %}" >
     <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
     <!--NAVBAR STYLE ENDS-->

  <!--JAVASCRIPT(s)-->
  {% block js_head %}

  {% endblock js_head %}

  <!--CSS(s)-->
  {% block css %}

  {% endblock css %}

  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
  
</head>
<body>
    <!--NAVBAR STARTS-->
    {% include "navbar2.html" %}
    <!--NAVBAR ENDS-->

    <!--CAROUSEL STARTS-->
    {% block carousel %}

    {% endblock carousel %}
    <!--CAROUSEL ENDS-->

    <!--For gifs-->
    {% block gifs %}
    
    {% endblock gifs %}
    <!--gifs ends-->

    <!-- CONTAINER STARTS -->
    <div class="container">
        {% block container %}

        {% endblock container %}
    </div>
    <!-- CONTAINER ENDS -->

    <script type="text/javascript" src="{% static 'js/check_cookie2.js' %}"></script>
    
    <script type="text/javascript">
      $(document).ready(function(){
          var w = $(window).width()
              if(w<=768){
                  document.getElementById("mobile_number_hy").style.display = "block";
              }else{
                if( w>768){
                  document.getElementById("mobile_number_hy").style.display = "none";
                }
            }
            
          $(window).resize(function(){
              var w = $(window).width()
              if(w<=768){
                  document.getElementById("mobile_number_hy").style.display = "block";
              }else{
                if( w>768){
                  document.getElementById("mobile_number_hy").style.display = "none";
                }
              }
          })
      })
    </script>
    

    <!--JAVASCRIPT(s)-->
    {% block js_body %}

    {% endblock js_body %}

    {% include "chat_js_by_tawk_to.html" %}
   
  
    <!--FOOTER-->
    {% block footer %}

    {% endblock footer %}
    
</body>
</html>