    <div class="row">
      <div class="col-md-8 col-md-offset-1  col-xs-12">

      <center><h2 style="font-weight: bold; font-family:tahoma; color: red"><i class="fa fa-random" aria-hidden="true"></i> Book your cab</h2></center>
    
     <!--  <hr> -->
        <div class="itemzoom2" style="padding:5px">
            <br>
             <form name="bookingForm" method="post" role="form" onsubmit="return sendBookingInfo()">{% csrf_token %}

              <div class="form-group">
                <label for="members"><span style="color: green"><i class="fa fa-users" aria-hidden="true"></i> No of members</span >* </label>
                
                <select class="selectpicker members_select" name="members" id="select">
                      <optgroup label="Cab/Taxi">
                        <!--Any time the content can be increased, so class-->
                        <option value="1-4" class="one_four">1-4</option>
                      </optgroup>
                      <optgroup label="Innova">
                        <option value="5-7" class="five_seven">5-7</option>
                      </optgroup>
                      <optgroup label="Tempo traveller">
                        <option value="8-13" class="eight_twelve">8-13</option>
                      </optgroup>
                      <optgroup label="Mini bus">
                        <option value="14-20" class="thirteen_twenty">14-21</option>
                      </optgroup>
                      <optgroup label="Bus">
                        <option value="22-33" class="twenty_plus">22-33</option>
                        <option value="34-52" class="twenty_plus">34-52</option>
                      </optgroup>
                </select>
              </div>

              <div class="form-group">
                <label for="autocomplete"><span style="color: green"><i class="fa fa-folder-open" aria-hidden="true"></i> From</span >*</label>
                <input type="text" name="from" class="form-control" placeholder="Pick up location"
                                        onFocus="geolocate()" id="autocomplete"    class="" required />
              </div>
              
              <div class="form-group">
                  <label for="autocomplete3"><span style="color: green"><i class="fa fa-suitcase" aria-hidden="true"></i> To</span >*</label>
                  <input type="text" name="to" class="form-control" placeholder="Destination"
                                          onFocus="geolocate()" id="autocomplete3"    required />
              </div>

              
              <div class="form-group" style="display: inline-block;float: left;width: 48%">
                <label for="datepicker"><i class="fa fa-building-o" aria-hidden="true"></i> <span style="color: green">Date of travel</span>*
                </label>
              <input type="text" class="form-control"  id="datepicker" name="dot" placeholder="mm/dd/yyyy"  required />
              </div>

              <div class="form-group" style="display: inline-block;float: right; width: 48%"> 
                  <label for="datepicker2"><i class="fa fa-building-o" aria-hidden="true"></i> <span style="color: green">Return date</span>*
                  </label>
                <input type="text" class="form-control"  id="datepicker2" name="dor" placeholder="mm/dd/yyyy"  required />
              </div>              
              

              <div class="form-group">
                <label for="members"><span style="color: green"><i class="fa fa-users" aria-hidden="true"></i> Pickup time</span >* &nbsp; &nbsp;</label>
                
                <select class="selectpicker members_select" name="hours" id="select_hour">
                      <optgroup label="HOUR">
                        {% for hour in hours %}
                        <option value="{{hour}}" class="twenty_plus">{{hour}}</option>
                        {% endfor %}
                      </optgroup>
                </select> :

                <select class="selectpicker members_select" name="minutes" id="select_minute">
                      <optgroup label="MINUTE">
                        {% for minute in minutes %}
                        <option value="{{minute}}" class="twenty_plus">{{minute}}</option>
                        {% endfor %}
                      </optgroup>
                </select>
                <select class="selectpicker members_select" name="periods" id="select_period">
                      <optgroup label="PERIOD">
                        
                        <option value="pm" class="twenty_plus">PM</option>
                        <option value="am" class="twenty_plus">AM</option>
                      </optgroup>
                </select>
              </div>
              <!-- <div class="form-group">
                   <div class="row">
                    <div class="col-md-1">
                          <label for="sel1">Hour</label>
                          <select class="form-control" id="sel1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                          </select>
                          <br>
                     </div>
                     <div class="col-md-1">
                          <label for="sel2">Minute:</label>
                          <select class="form-control" id="sel2">
                            <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                          </select>
                          <br>
                     </div>
                  </div>
                </div> -->
              <input type="submit" class="btn btn-block btn-info" id="sign_up" value="Book Now">
            </form>
          </div>

          <hr>
          <center>
            <i class="fa fa-sign-in" aria-hidden="true"></i> <a href="/v1/login-new/">Already have an account</a>
          </center>
      </div>
    </div>