
{% extends "base.html" %}
{% load staticfiles %}

{% block carousel %}

{% endblock %}



<!--CONTAINER-->
{% block container %}
  <!-- BOOKING AND SHIPPING DETAILS -->
<div class="row">
  <div class="col-md-12 col-xs-12">
    <!-- 
      <br>
      <br>
      <br> 
    -->
    <hr>
    <center>
      <h2 style="color: white; font-weight: bold; font-family: tahoma;background-color:#CF000F; padding: 5px" onmouseover="this.style.color='#FDE3A7'" onmouseleave="this.style.color='white'" data-toggle="tooltip" title="Booking summary">
            <i class="fa fa-recycle" aria-hidden="true"></i> Booking Summary
      </h2>
    </center> 
  </div>
</div>

<!--Column 1-->
<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <br>
    <hr>
        <h2 style="padding-left: 20px">TERMS AND CONDITIONS</h2>
    <hr>
    <ol>
      <li>
          Kms and Time are calculated from our office to office.
      </li>
      <li>
       Day Means Calendar day
      </li>

      <li  >We are not responsible for your belongings.</li>
      <li  >Parking,toll and permit extra as payable party only.</li>
      <li>Extra Driver's bata for Out Station will be charged double. Driving between 10:00 pm to 6:00 am.</li>

      <li>Minimum 25% should be paid as an advance at booking confirmation.</li>
    </ol>
  </div>

  <div class="col-md-4 col-sm-8 col-xs-12">
          <br>
          <hr>
          <img src="{{vehicle.image.url}}" class="img-responsive" style="width: 100%" /><br>
          
  </div>  
  <div class="col-md-4 col-sm-8 col-xs-12">

        

          <center><h3>{{vehicle.name}}</h3></center>
          <hr>
          <p>
              <span style="color: red">Minimum km/day</span> &raquo; 
              <span style="color: #330000; font-weight: bold">{{vehicle.minimum_km_per_day}} </span>km
          </p>

          <p>
              <span style="color: red">Driver bata</span> &raquo; 
               &#8377; <span style="color: #330000;font-weight: bold">{{vehicle.driver_bata}} </span>
          </p>

          <p>
              <span style="color: red">From</span> &raquo; 
              <span style="color: #330000;font-weight: bold;" id="from">
                <i class="fa fa-spinner" aria-hidden="true"></i>
              </span>
          </p>

          <p>
              <span style="color: red">To</span> &raquo; 
              <span style="color: #330000;font-weight: bold;" id="to">
                <i class="fa fa-spinner" aria-hidden="true"></i>
              </span>
          </p>

          <p>
              <span style="color: red">Date of travel</span> &raquo; 
              <span style="color: #330000;font-weight: bold;" id="dot">
                <i class="fa fa-spinner" aria-hidden="true"></i>
              </span>
          </p>

          <p>
              <span style="color: red">Date of return</span> &raquo; 
              <span style="color: #330000;font-weight: bold;" id="dor">
                <i class="fa fa-spinner" aria-hidden="true"></i>
              </span>
          </p>

          <p>
              <span style="color: red">Pickup time</span> &raquo; 
              <span style="color: #330000;font-weight: bold;" id="pickup_time">
                <i class="fa fa-spinner" aria-hidden="true"></i>
              </span>
          </p>

          <p>
              <span style="color: red">Total days</span> &raquo; 
              <span style="color: #330000; font-weight: bold" id="days">
                <i class="fa fa-spinner" aria-hidden="true"></i>
              </span> days
          </p>

          <p>
              <span style="color: red">Simple Cost</span> &raquo; 
               &#8377; <span style="color: #330000; font-weight: bold" id="cost1">
               <i class="fa fa-spinner" aria-hidden="true"></i>
              </span> 
          </p>

          <p>
              <span style="color: red">Total bata</span> &raquo; 
               &#8377;  <span style="color: #330000; font-weight: bold" id="cost2">
              <i class="fa fa-spinner" aria-hidden="true"></i>
              </span> 
          </p>
          
          <p>
              <span style="color: gray; font-size: 20px; font-weight: bold">Total cost</span> &raquo; 
               &#8377;  <span style="color: green; font-weight: bold; font-size: 20px" id="total_cost">
              <i class="fa fa-spinner" aria-hidden="true"></i>
              </span> 
          </p>
          <hr>
          <!-- type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" -->
          <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal" id="confirm_booking">Confirm Booking</button>

    <!--       <button type="button" class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModalOtpForm"  id="enter_otp">ENTER OTP</button> -->
  </div>
</div>

<div class="row">
  {% include "modal_form.html" %}

  {% include "modal_otp_form.html" %}
</div>
<hr>
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}

 <style type="text/css">
    ol li{
      color: #330000;
      font-size: 14px;
      font-family: tahoma;
    } 

    .t_title{
      color:black;
      font-weight: bold;
    }

    .t_value{
      color: #2C3E50;
    }
  </style>

  <style type="text/css">
    input{
      border: 1px solid green;
    }
  </style>

{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
  <script>
      $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
      });
  </script>

  <script type="text/javascript">
        try{
            var arr = []
            var from = localStorage.getItem("from")
            arr.push({"from": from})

            var to = localStorage.getItem("to")
            arr.push({"to": to})

            var dot = localStorage.getItem("dot")
            arr.push({"dot": dot})

            var dor = localStorage.getItem("dor")
            arr.push({"dor": dor})

            var days = localStorage.getItem("days")
            arr.push({"days": days})

            var cost1 = localStorage.getItem("cost1")
            arr.push({"cost1": cost1})

            var cost2 = localStorage.getItem("cost2")
            arr.push({"cost2": cost2})

            var hours = localStorage.getItem("hours")
            var minutes = localStorage.getItem("minutes")
            var periods = localStorage.getItem("periods")

            arr.push({"hours": hours})
            arr.push({"minutes": minutes})
            arr.push({"periods": periods})

            var total_cost = (parseInt(localStorage.getItem("cost1"))+parseInt(localStorage.getItem("cost2")))

            arr.push({"total_cost": total_cost})
            console.log(arr)
            for(var data of arr){
              console.log(data)
              for(var key in data){
                    if(data[key] == null || data[key] == undefined || data[key]==""){
                      alert("You did something unexpected, restart the booking process")
                      location.href = "/"
                      // return false
                    }
                    // alert(key)
                    if(key=="hours" || key == "minutes" || key == "periods")
                        continue

                    document.getElementById(key).innerHTML = data[key]
              }
            }
            document.getElementById("pickup_time").innerHTML = ""+hours+":"+minutes+" "+periods;
            // document.getElementById("from").innerHTML = 
            // document.getElementById("to").innerHTML = localStorage.getItem("to")
            // document.getElementById("dot").innerHTML = localStorage.getItem("dot")
            // document.getElementById("dor").innerHTML = localStorage.getItem("dor")

            // document.getElementById("days").innerHTML = localStorage.getItem("days")
            // document.getElementById("cost1").innerHTML = localStorage.getItem("cost1")
            // document.getElementById("cost2").innerHTML = localStorage.getItem("cost2")
            // alert((parseInt(cost1)+parseInt(cost2))

            // document.getElementById("total_cost").innerHTML = 
        }catch(err){
            alert(err)
            alert("Error occured")
        }

  </script>

  <script>

    $(document).ready(function(){
        // $("#enter_otp").click(function(){
            // $("#myModalOtpForm").modal();
        // });
    });
</script>

  <script type="text/javascript">
    // function forwardToFormFilling(){
    //   location.href = "/v1/booking/fill-booking-confirmation-details/"
    // }
    function sendConfirmedBookingDetails(event){
      event.preventDefault()
      
      var fname = document.forms["confirmBookingForm"]["fname"].value;
      var contact = document.forms["confirmBookingForm"]["contact"].value;
      var email = document.forms["confirmBookingForm"]["email"].value;
      // var pickup_location = document.forms["confirmBookingForm"]["pickup_location"].value;
      var message = document.forms["confirmBookingForm"]["message"].value
      // alert(fname+contact)
      // alert(email)
      // alert(pickup_location)
      // alert(message)

      // fetch("/v1/send-confirmed-booking-details/")
      try{
            var correct = false

            fetch("{{request.scheme}}://{{request.get_host}}/v1/booking/send-otp/",{
              "method": "POST",
              "headers": {
                "Content-Type": "application/x-www-form-urlencoded",
                "Accept":"application/json, text/plain, */*",
                
              },
              "body": JSON.stringify({"contact":contact})
            }).then(response => response.json()).then(response => {
                  // OTP CHECK
                  // alert(response.message)
                  var otp_got_validated = false
                        if(response.status == 200){
                              alert("OTP successfully sent to your phone")
                              
                              localStorage.setItem("sure_cabs_otp", response.otp)

                              var entered_otp = prompt("Enter 4 digit OTP")

                              //  var i = 0
                              if(entered_otp == null){
                                alert("You cancelled, please retry booking.")
                                location.href = "/"
                                return false
                              }

                              while(isNaN(entered_otp) || entered_otp.length!=4){
                                  entered_otp = prompt("Wrong OTP (Enter 4 digit number that you got)") 

                                  if(entered_otp == null){
                                    alert("You cancelled, please retry booking..")
                                    location.href = "/"
                                    return false
                                  }
                              }//while ends

                              var saved_otp = localStorage.getItem("sure_cabs_otp")
                              if(saved_otp==undefined || saved_otp==null || saved_otp==""){
                                alert("You did something unexpected, cut the form and retry please")
                                return false
                              }
                              while(entered_otp != saved_otp){
                                  alert("OTP didn't match. Please RE-ENTER.")
                                  entered_otp = prompt("Enter 4 digit OTP")

                                  if(entered_otp == null){
                                    alert("You cancelled, please retry booking...")
                                    location.href = "/"
                                    return false
                                  }

                                  while(isNaN(entered_otp) || entered_otp.length!=4){
                                      entered_otp = prompt("Enter 4 digit OTP again(4 digit number)") 
                                  }
                              }
                              otp_got_validated = true
                              alert("Your OTP got succefully verified")
                        } else{
                          alert("Error occured")
                          return false
                        }
                  //OTP CHECK ENDS

                  if(otp_got_validated){
                      //2ND FETCH
                      try{
                              fetch("{{request.scheme}}://{{request.get_host}}/v1/booking/store-booking-details/",{
                                  "method": "POST",
                                  "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded",
                                    "Access-Control-Allow-Origin": "*",
                                    'Accept': 'application/json, text/plain, */*',
                                  },
                                  "body": JSON.stringify({
                                    "contact": ""+contact,
                                    "email": email,
                                    "fname": fname,
                                    "frm": localStorage.getItem("from"),
                                    "to": localStorage.getItem("to"),
                                    "cost1": localStorage.getItem("cost1"),
                                    "dot": localStorage.getItem("dot"),
                                    "dor": localStorage.getItem("dor"),
                                    "cost2": localStorage.getItem("cost2"),
                                    "vehicle": "{{vehicle.name}}",
                                    "total_cost": total_cost,
                                    "vehicle_image_url": "{{vehicle.image.url}}",
                                    "total_days": days,
                                    "driver_bata": "{{vehicle.driver_bata}}",
                              "minimum_km_per_day": "{{vehicle.minimum_km_per_day}}",
                                    "pickup_time": localStorage.getItem("hours")+":"+localStorage.getItem("minutes")+" "+localStorage.getItem("periods")
                                  })
                                }).then(response => response.json()).
                                then(response => {  
                                      // alert("ok in 2nd fetch")
                                      console.log("GOT")
                                      console.log(response)    
                                      // alert("")
                                      // document.getElementById("enter_otp").click()  
                                      // alert("TRYING TO SEND OTP")
                                      if (response.status == 200){
                                          alert("SURECABS: "+response.message)
                                          
                                          // document.getElementById("enter_otp").click()
                                          //alert("clicked")
                                          // return true
                                              // $(document).ready(function(){
                                                  // $("#enter_otp").click(function(){
                                                      // jQuery("#enter_otp").modal();
                                                  // });
                                              // });
                                        // document.getElementById("confirm_booking").style.display="none";
                                        //  location.reload()

                                        // var everything_is_ok = false

                                        // while(!everything_is_ok){

                                        // }
                                        
                                        // alert("OTP matched")
                                        // document.getElementById("confirm_booking").style.display = "none";

                                        location.replace("/v1/booking/success/")

                                        return true
                                      }else{
                                          alert("Error occured")
                                          return false
                                      }
                                }).catch(function(error){
                                  alert("2nd FETCH : "+error)
                                  // alert("Error while handing OTP request")
                                  document.getElementById("confirm_booking").style.display = "none";
                                  // location.href= "/v1/booking/success/"
                                  location.replace("/v1/booking/success/")
                                  return false
                                })
                        }catch(err){
                          alert("You did mistake, retry please")
                          return false
                        }
                        //2ND FETCH ENDS
                      } //IF ENDS
            }).catch(function(error){
              alert(error)
              return false
            })
        }//try block ends
        catch(err){
            alert("You did mistake, retry please")
            return false
        }
    }//Function body ends
  </script>


{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
