      <div class="row">
      <div class="col-md-12 col-xs-12">
      <!-- <hr>
      <h2 class="text-center" id="comment_here" data-toggle="tooltip" title="Join sure cabs">Join <span id="sure_cabs">Sure Cabs</span> 
      </h2>
      <center><span style="font-size:20px;">Make your journey comfortable</span></center> -->
      
      <!--All vehicles above the form-->
      <!-- <div class="row" class="vehicle_form">
          <div class="col-md-2 col-xs-2 text-center" style="background-color:#1abc9c; border-radius: 50%">
              <img src="https://www.shareicon.net/data/128x128/2016/07/15/796358_car_512x512.png" style="width:100%; height: 64px" class="img-responsive"  id="selected_vehicle"/>
          </div>
          <div class="col-md-2 col-xs-2 " style="background-color:#ff0066; border-radius: 50%">
              <img src="https://www.shareicon.net/data/128x128/2016/07/15/796358_car_512x512.png" style="width: 100%; height: 64px" />
          </div>
          <div class="col-md-2 col-xs-2 " style="background-color:#ff6699; border-radius: 50%">
              <img src="https://cdn3.iconfinder.com/data/icons/transport-icons-2/512/BT_c3side-128.png" class="img-responsive" style="width: 100%; height: 64px"> 
          </div>
          <div class="col-md-2 col-xs-2 " style="background-color:#cc0066; border-radius: 50%">
              <img src="https://cdn1.iconfinder.com/data/icons/pictograms-glyphs-6/48/288-128.png" class="img-responsive" style="width: 100%; height: 64px" > 
          </div>
          

          <div class="col-md-2 col-xs-2 " style="background-color:#ff6666; border-radius: 50%">
              <img src="https://cdn3.iconfinder.com/data/icons/transportation-vol-1/24/_bus-128.png" style="width:100%; height: 64px"> 

          </div>

          <div class="col-md-2 col-xs-2 " style="background-color:#ff6699; border-radius: 50%">
              <img src="https://cdn2.iconfinder.com/data/icons/transport-48/512/Bus-128.png" class="img-responsive" style="width:100%; height:  64px"> 
          </div>
      </div> -->

     
        <div class="itemzoom2" style="padding:5px; padding-bottom: 45px">
            <br>
            <form name="bookingForm" method="post" role="form" onsubmit="return sendBookingInfo()">{% csrf_token %}

              <div class="form-group">
                <label for="members"><span style="color:black"><i class="fa fa-users" aria-hidden="true"></i> No of members</span >* </label>
                
                <select class="selectpicker members_select" name="members" id="select">
                      <optgroup label="Cab/Taxi">
                        <!--Any time the content can be increased, so class-->
                        <option value="1-4" class="one_four">1-4</option>
                      </optgroup>
                      <optgroup label="Innova">
                        <option value="5-7" class="five_seven">5-7</option>
                      </optgroup>
                      <optgroup label="Tempo traveller">
                        <option value="8-13" class="eight_twelve">8-13</option>
                      </optgroup>
                      <optgroup label="Mini bus">
                        <option value="14-20" class="thirteen_twenty">14-21</option>
                      </optgroup>
                      <optgroup label="Bus">
                        <option value="22-33" class="twenty_plus">22-33</option>
                        <option value="34-52" class="twenty_plus">34-52</option>
                      </optgroup>
                </select>
              </div>

              <div class="form-group">
                <label for="autocomplete"><span style="color: black"><i class="fa fa-folder-open" aria-hidden="true"></i> From</span >*</label>
                <input type="text" name="from" class="form-control" placeholder="Pick up location"
                                        onFocus="geolocate()" id="autocomplete"    class="" required />
              </div>
              
              <div class="form-group">
                  <label for="autocomplete3"><span style="color: black"><i class="fa fa-suitcase" aria-hidden="true"></i> To</span >*</label>
                  <input type="text" name="to" class="form-control" placeholder="Destination"
                                          onFocus="geolocate()" id="autocomplete3"    required />
              </div>

              
              <div class="form-group" style="display: inline-block;float: left;width: 48%">
                <label for="datepicker"><i class="fa fa-building-o" aria-hidden="true"></i> <span style="color: black">Date of travel</span>*
                </label>
              <input type="text" class="form-control"  id="datepicker" name="dot" placeholder="mm/dd/yyyy"  required />
              </div>

              <div class="form-group" style="display: inline-block;float: right; width: 48%"> 
                  <label for="datepicker2"><i class="fa fa-building-o" aria-hidden="true"></i> <span style="color: black">Return date</span>*
                  </label>
                <input type="text" class="form-control"  id="datepicker2" name="dor" placeholder="mm/dd/yyyy"  required />
              </div>              
              

              <div class="form-group">
                <label for="members"><span style="color: black"><i class="fa fa-users" aria-hidden="true"></i> Pickup time</span >* &nbsp; &nbsp;</label>
                
                <select class="selectpicker members_select" name="hours" id="select_hour" required="true">
                      <optgroup label="HOUR">
                        <option value="" class="twenty_plus">HH</option>
                        {% for hour in hours %}
                        <option value="{{hour}}" class="twenty_plus">{{hour}}</option>
                        {% endfor %}
                      </optgroup>
                </select> :

                <select class="selectpicker members_select" name="minutes" id="select_minute" required="true">
                      <optgroup label="MINUTE">
                       <!--  <option value="" class="twenty_plus">MM</option> -->
                        {% for minute in minutes %}
                        <option value="{{minute}}" class="twenty_plus">{{minute}}</option>
                        {% endfor %}
                      </optgroup>
                </select>
                <select class="selectpicker members_select" name="periods" id="select_period">
                      <optgroup label="PERIOD">
                        <option value="pm" class="twenty_plus">PM</option>
                        <option value="am" class="twenty_plus">AM</option>
                      </optgroup>
                </select>
              </div>
              <!-- 
                <div class="form-group">
                   <div class="row">
                      <div class="col-md-1">
                          <label for="sel1">Hour</label>
                          <select class="form-control" id="sel1">
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                          </select>
                          <br>
                     </div>
                     <div class="col-md-1">
                          <label for="sel2">Minute:</label>
                          <select class="form-control" id="sel2">
                            <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                  <option>6</option>
                                  <option>7</option>
                                  <option>8</option>
                                  <option>9</option>
                                  <option>10</option>
                                  <option>11</option>
                                  <option>12</option>
                          </select>
                          <br>
                     </div>
                  </div>
                </div> 
              -->
              <center>
                <input type="submit" class="btn  btn-danger" id="sign_up" value="Book Now" style="font-size: 18px">
              </center>
              
            </form>
          </div>

          <hr>
          <center>
            <i class="fa fa-sign-in" aria-hidden="true" style="padding-bottom: 15px "></i> <a href="/v1/login-new/">Already have an account</a>
          </center>
      </div>
    </div>