{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %}
	{% include "carousels/carousel-comments.html" %}
{% endblock %}

{% block container %}

		<div class="row"> 
		
			<div class="col-md-8  col-xs-12">
				<h1 class="text-center" id="comment_top" data-toggle="tooltip" title="What people comments about us">Top comments </h1>
				<hr>
				{% for comment in comments %}
							<!-- <center>
								<h3 style="color: green">Booked vehicle details</h3>
								<hr>
							</center> -->
							<div class="row itemzoom"  id="card" style="min-height: 100px;padding:10px" data-toggle="tooltip" title="{{comment.commented_by.fname}}">
								<div class="col-lg-5 col-sm-5 col-xs-12">
									<div class="row details" style="text-align: left; padding-left: 12px;">
										<img src="{{comment.commented_by.profile_pic.url}}" width="30" height="30" id="profile_pic">
										<p>{{comment.commented_by.email}}</p>
										<p id="contact_number">+91 {{comment.commented_by.contact}}</p>
										<!-- <hr> -->
										
									</div>
								</div>
								
								<div class="col-lg-7 col-sm-7 col-xs-12">
									<span id="ask_que">Says </span> &raquo;
									<b>At</b> {{comment.commented_at}}
									<hr>
									<p>{{comment.comment}}</p>

								</div>	
							</div>		
				{% endfor %}
			</div>

			<div class="col-md-4 col-xs-12">
			<h1 class="text-center" id="comment_here" data-toggle="tooltip" title="Do write comment for us">Comment here </h1>
			<hr>
				<div class="itemzoom2" style="padding:5px">
						<br>
					  <form method="get">
					  	<div class="form-group">
					      <label for="fname">Full name*</label>
					      <input type="fname" class="form-control" id="fname" placeholder="Deepak Jones" name="email" required="true" data-toggle="tooltip" title="Your full name">
					    </div>
					    <div class="form-group">
					      <label for="email">Email*</label>
					      <input type="email" class="form-control" id="email" placeholder="deepak.jones@gmail.com" name="email" required="true" data-toggle="tooltip" title="Your email id">
					    </div>
					    <div class="form-group">
					      <label for="contact">Contact Number*</label>
					      <input type="text" class="form-control" id="contact" placeholder="7917291992" name="contact" required="false" data-toggle="tooltip" title="Your contact number" required="true">
					    </div>
					    <div class="form-group">
					      <label for="comment">Comment*</label>
					      <textarea class="form-control" id="comment" placeholder="Leave your comment here 
" name="address" rows="8" data-toggle="tooltip" title="What do you comment about us?" required="true"></textarea>
					    </div>
					    	
					    <button type="submit" class="btn btn-block btn-success">Comment</button>
					  </form>
					</div>
			</div>
		</div>
		
		<hr>
		<!-- <div class="row"> -->
			
		<!-- </div> -->		
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <!-- <link rel="stylesheet" href="{% static './css/carousel.css' %}" > -->
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        .itemzoom {
          position: relative;
          
          /*border: 1px solid #333;*/
          /*margin: 2%;*/
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:0 4px 8px 0 rgba(0, 120, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       
       	.itemzoom2 {
          position: relative;
          
          /*border: 1px solid #333;*/
          /*margin: 2%;*/
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:2px 4px 8px 2px rgba(0, 0, 200, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media only screen and (max-width: 768px){
        	.details{
        		text-align: left;
        	}
        	body{
        		/*background-color:#f2f2f2;*/
        	}
        	#card div .details{
       			text-align: left;
      		}
        	.itemzoom #break {
        		color: red;
        	}
        }

        #fname, #email, #contact, #comment{
        	border: 1px solid black;

        }

        #fname:hover, #email:hover, #contact:hover, #comment:hover{
        	border: 1px solid green;
        	font-family: tahoma;
        }
        #profile_pic:hover{
        	width: 31px;
        	height: 31px;
        }

        #card:hover{
        	background-color: white;
        	box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       	
       	#comment_here{
       		color:gray;
       	}

       	#comment_top{color: green;}

       	#contact_number{
       		color: gray;
       		font-weight: bold;
       	}
       	#ask_que{
       		color: #2c3e50;
       		font-weight: bold;
       		font-size: 25px;
       	}


  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
</script>

<!--SET BACKGROUND COLOR-->
<script>
// function myFunction() {
//     document.body.style.backgroundColor = "white";
//     document.body.style.backgroundImage = "url('{% static 'images/body-blank.svg'%}')";
//     document.body.style.filter = blur(2px);
// }
// myFunction()
</script>
{% endblock js_body %}

{% block footer %}
	{% include "footer.html" %}
{% endblock footer %}
