{% load staticfiles %}
<center>
		<br>
		<br>
		<br>
		<br>
		<img src="http://grassroots.ca/wp-content/uploads/2016/08/Oops-Didnt-Get-It-Inspected.jpg" style="width:50%; height: 50%">
		<h1 style="color:green">{{message}}</h1>
		<!-- <h4 style="color:black">{{email}}</h4> -->

		<a href="/">Visit SureCabs</a>
</center>


