{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Cab booking Web application">
    <meta name="author" content="Rathnakara Sir; Arjun Sir; Rishikesh Agrawani">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>CabService</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="./css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <!--  <link href="{% static './css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="{% static './js/ie-emulation-modes-warning.js' %}"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static './css/carousel.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js">
    </script>
    <style type="text/css">
      body{
        background-color:#fdfdfd;
      }
      * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        .itemzoom {
          position: relative;
          
          /*border: 1px solid #333;*/
          /*margin: 2%;*/
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .itemzoom img {
          max-width: 100%;
          
          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
        .itemzoom:hover img {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1 );
          /*box-shadow: 0px 2px gray;*/
        }
        .car_mileage, .car_price, .car_volume{
          font-family: tahoma;
          margin-bottom: 10px;
          font-size: 15px;
        }
        input, select{
          border: 1px solid green;
          padding:2px;
          font-size: 15px;
        }

        input:hover, select:hover{
          border: 1px solid black;
        }
    </style>
        <style type="text/css">
      .navbar .nav .nav-title{
        color: white; 
        font-weight: bold; 
        font-size: 15px;
      }
      .navbar .nav .nav-title:hover{
        color: #bdc3c7; 
        font-weight: bold; 
        font-size: 15px;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(
        function(){
          $("a[href='#home-img']").click(function(){
            console.log("Selected Cars")
            $("#h1-vehicles").text("OUR CARS")
          });
          $("a[href='#menu1-img']").click(function(){
            console.log("Selected Mini buses")
            $("#h1-vehicles").text("OUR MINI BUSES")
          });
          $("a[href='#menu2-img']").click(function(){
            console.log("Selected Buses")
            $("#h1-vehicles").text("OUR BUSES")
          });
          $("a[href='#menu3-img']").click(function(){
            console.log("Selected Trucks")
            $("#h1-vehicles").text("OUR TRUCKS")
          });

        }
      )
    </script>


    <!--LINKS FOR BOOKING FORM-->
        <link rel="stylesheet" href="{% static './css/carousel.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js">
    </script>
    <style type="text/css">
      body{
        background-color:#fdfdfd;
      }

        
    </style>
    
    <style type="text/css">
      .navbar .nav .nav-title{
        color: white; 
        font-weight: bold; 
        font-size: 15px;
      }
      .navbar .nav .nav-title:hover{
        color: #bdc3c7; 
        font-weight: bold; 
        font-size: 15px;
      }
      body{
       /* background-image: url("{% static 'images/road.gif' %}");*/
        background-size: 100%;
        /*margin: 0;
        padding:0;*/
        /*background-opacity: 0.2;*/
      }
      /*html{
        margin: 0;
        padding: 0;
      }*/

          * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

      @media screen and (max-width:  1200px){
        .container .row #bookcard {
          max-height: 900px;
        }
        #marquee{
          display: none;

        }
        body{
          background-image: url("");
        }
        #top-gap{
          max-height: 50px;
        }
        #car{
          height: 270px;
        }
        #foot{
          margin-top: 260px;
        }
        #h1-vehicles{
          margin-top: 250px;
        }
        #space{
          height: 100px;
        }
      }
        
    </style>
    <!--DatePicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    
        <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
     <!--Auto complete place related css, starts--> 
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }

      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }

      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }

      #address td {
        font-size: 10pt;
      }

      .field {
        width: 99%;
      }

      .slimField {
        width: 80px;
      }

      .wideField {
        width: 200px;
      }

      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
    </style>
    <!--Auto complete place related css, ends--> 
  </head>
<!-- NAVBAR
================================================== -->
  <body>
  <div class="navbar-wrapper">
        <div class="container">

          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: lightgreen; font-weight: bold; font-size: 25px">Sure Cabs</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <!-- <li class="active"><a href="#">Home</a></li> -->
                  <li><a href="/about/" class="nav-title">About Us</a></li>
                  <li><a href="/contact/" class="nav-title">Contact</a></li>
                  <li><a href="/offers/" class="nav-title">Online Offers</a></li>
                  <!-- <li><a href="#products" class="nav-title">FAQ2</a></li> -->
                  <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <!-- <li class="active"><a href="#">Home</a></li> -->
                  <li><a href="/v1/booking/all-booking-details" class="nav-title">Latest bookings</a></li>
                  <li><a href="/comments/" class="nav-title">Comments</a></li>
                  <li><a href="/faq/" class="nav-title">FAQ</a></li>
                </ul>
              </div>
            </div>
          </nav>

        </div>
      </div>

    <!--My code -->
    
    <!-- <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="text-center login-title">Sign in</h1>
                                <div class="account-wall">
                                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                        alt="">
                                    <form class="form-signin">
                                    <input type="text" class="form-control" placeholder="Email" required autofocus>
                                    <input type="password" class="form-control" placeholder="Password" required>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Sign in</button>
                                    <label class="checkbox pull-left">
                                        <input type="checkbox" value="remember-me">
                                        Remember me
                                    </label>
                                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                                    </form>
                                </div>
                                <a href="#" class="text-center new-account">Create an account </a>
                            </div>
                            <div class="col-sm-6">
                                  
                            </div>
                        </div>
    </div> -->
<!--VEHICLES LIST-->
    
    <hr>
    <div class="space"></div>
    {% include "book_new.html" %}
    <hr>
    <div class="container"> 
          <h1 id="h1-vehicles">OUR VEHICLES</h1>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home-img">CAR</a></li>
            <li><a data-toggle="tab" href="#menu1-img">MINI BUS</a></li>
            <li><a data-toggle="tab" href="#menu2-img">BUS</a></li>
            <li><a data-toggle="tab" href="#menu3-img">TRUCK</a></li>
           <!--  <li><a data-toggle="tab" href="#menu3-im">Menu 3</a></li> -->
          </ul>

            <div class="tab-content">
              <div id="home-img" class="tab-pane fade in active">
                      <br>
                      <div class="row">
                        <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/taxi.jpg' %}" class="img-responsive" style="height:140px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                             
                        </div>
                         <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/taxi5.png' %}" class="img-responsive" style="height:140px;padding-top: 10px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">NONO</h3>
                             <p class="car_mileage"><b>Mileage - </b> 9 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.9L</p>
                             <p class="car_price"><b>Price - </b> Rs. 650/Hr </p>
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                        <div class="col-sm-4 itemzoom">
                             <img src="{% static './images/taxipraha-octavia3.png' %}" class="img-responsive" style="height:140px;">
                             <div class="item-overlay top"></div>
                              <h3 class="img_title">RITZ</h3>
                              <p class="car_mileage"><b>Mileage - </b> 12 KM/LTR</p>
                              <p class="car_volume"><b>Volume Capacity - </b> 2.3L</p>
                              <p class="car_price"><b>Price - </b> Rs. 700/Hr </p>
                               <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                    </div>
              </div>
              <div id="menu1-img" class="tab-pane fade">
                      <br>
                      <div class="row">
                        <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/mini_bus.jpg' %}" class="img-responsive" style="height: 270px">
                            
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>

                        </div>
                         <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/mini_bus2.png' %}" class="img-responsive" style="height: 270px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                        <div class="col-sm-4 itemzoom">
                             <img src="{% static './images/mini_bus3.jpg' %}" class="img-responsive" style="height: 270px">
                             <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn btn-success">Book Now</a>
                        </div>
                    </div>                
              </div>
              <div id="menu2-img" class="tab-pane fade">
                      <br>
                      <div class="row">
                        <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/bus.jpg' %}" class="img-responsive" style="height:230px;">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                         <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/bus2.jpg' %}" class="img-responsive"  style="height:230px;">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                        <div class="col-sm-4 itemzoom">
                             <img src="{% static './images/bus3.jpg' %}" class="img-responsive"  style="height:230px;">
                             <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                    </div>
              </div>
              <div id="menu3-img" class="tab-pane fade">
                      <br>
                      <div class="row">
                        <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/truck.jpg' %}" class="img-responsive" style="height: 230px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                         <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/truck.png' %}" class="img-responsive" style="height: 230px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                        <div class="col-sm-4 itemzoom">
                             <img src="{% static './images/truck2.jpg' %}" class="img-responsive" style="height: 230px">
                             <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                    </div>
              </div>
              <!-- <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div> -->
            </div>  
        </div>
    <hr>


    <div class="container">
      <div class="row">
          
          <div class="col-xs-12 col-md-12" id="foot" style="padding-bottom: 20px; font-family: tahoma; font-weight: bold">
            <br>
            <br>
            <hr>
            <center>Copyright &copy; 2017<br>Bangalore(Karnataka), India</center>
          </div>
      </div>
    </div>
   
    {% include "auto-address.html" %}
    
    <script type="text/javascript" src="{% static './js/form.js' %}"></script>
    <script type="text/javascript" src="{% static './js/home.js' %}"></script>
    <!--My code ends-->
  </body>
</html>
