    <div class="row">
      <div class="col-md-8 col-md-offset-1  col-xs-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Type<br></th>
                
                  <th>8 hour/80 km<br></th>
                  
                  <th>Extra hours<br></th>
                  <th>Extra kms<br></th>
                  <th>Bata<br></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4+1 (INDICA, AC)</td>
                  
                  <td>1300</td>
                 
                  <td>100</td>
                  <td>8</td>
                  <td>250</td>
                </tr>

                <tr>
                  <td>4+1 (ALL, AC)</td>
                  
                  <td>1500</td>
               
                  <td>150</td>
                  <td>10</td>
                  <td>250</td>
                </tr>
                <tr>
                  <td>5+1</td>
                 
                  <td>2000</td>
                
                  <td>200</td>
                  <td>12</td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>8+1</td>
                  
                  <td>2000</td>
               
                  <td>200</td>
                  <td>11</td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>12+1, AC</td>
                  
                  <td>2700</td>
             
                  <td>250</td>
                  <td>15</td>
                  <td>300</td>
                </tr>
                <tr>
                  <td>12+1, NON AC</td>
                 
                  <td>2500</td>
               
                  <td>200</td>
                  <td>13</td>
                  <td>300</td>
                </tr>
              </tbody>
            </table>
            <hr>
            <center>
              <a href="/v1/booking/local-booking/" class="btn btn-danger" role="button" style="font-size: 18px; font-weight: bold;">Book Now</a>
            </center>
      </div>
    </div>