{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %}
  {% include "carousels/carousel-login.html" %}
{% endblock %}

 
{% block container %}
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-xs-12">
      <br>
      <hr>
      <h2 class="text-center" id="comment_here" data-toggle="tooltip" title="Join sure cabs">Login to <span id="sure_cabs">Sure Cabs</span> 
      </h2>
      <center>
          <span style="font-size:20px;">Book now and enjoy your journey</span>
      </center>
        <!--Animation starts-->
          <div id="div" style="height:100px;width:100px;position:absolute;">
               <img src="https://cdn0.iconfinder.com/data/icons/cars-and-delivery/512/minibus-256.png" style="height: 55px; width: 55px" />
          </div>
          <div id="div2" style="height:100px;width:100px;position:absolute;">
              
             <img src="https://cdn0.iconfinder.com/data/icons/cars-and-delivery/512/trailer-256.png" style="height: 60px; width: 60px">
     
          </div>
          <div id="div3" style="height:100px;width:100px;position:absolute;">
             
             <img src="https://cdn0.iconfinder.com/data/icons/cars-and-delivery/512/hatchback-256.png" style="height: 60px; width: 60px">
     
          </div>

        <!--Animation ends-->
        <br>
        <hr>
        <div class="itemzoom2" style="padding:5px">
            <br>
            <form method="post" role="form" onsubmit="return loginNow()" name="loginForm">
              <div class="form-group">
                <label for="contact"><span style="color: green"><i class="fa fa-mobile fa-1x" aria-hidden="true"></i> Contact Number</span >*</label>
                <input type="text" class="form-control" id="contact" placeholder="7917291992" name="contact" required="false" data-toggle="tooltip" title="Your contact number" required="true" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
              </div>
              
              <div class="form-group">
                <label for="password"><i class="fa fa-key" aria-hidden="true"></i> Password</label>
                <input type="password" class="form-control" id="password" placeholder="*********" name="password"  data-toggle="tooltip" title="Your password" maxlength="20" pattern="^(.*){4,20}$" title="Password should contain more than 4 charaters">
              </div>
              
              <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
             <!--  <div class="g-recaptcha" data-sitekey="6Lf0RCwUAAAAAM8oPYrBUKgzkQzKUTza-XojMhic"></div><br> -->

              <input type="submit" class="btn btn-block btn-info" data-toggle="tooltip" title="Sign in and enjoy our service" id="sign_in" value="Login"/>
            </form>
          </div>

          <hr>
          <center>
            <i class="fa fa-sign-in" aria-hidden="true"></i> <a href="/register/">Don't have an account</a>
          </center>
      </div>
    </div>
    <hr>
 
 <!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD (BANGALORE)
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  
  <style type="text/css">
        * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }
       
        .itemzoom2 {
          position: relative;
          overflow: hidden;
          padding-bottom: 10px;
          box-shadow:2px 4px 8px 2px rgba(0, 200, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media only screen and (max-width: 768px){
          .details{
            text-align: left;
          }
          body{
          
          }
          #card div .details{
            text-align: left;
          }
          .itemzoom #break {
            color: red;
          }

          #myCarousel{
            max-height: 350px;
          }
          .carousel .item {
              height: 350px;
            }

            .item img {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 350px;
            }
        }

        #fname, #email, #password, #contact{
          border: 1px solid black;

        }

        #fname:hover, #email:hover, #password:hover, #contact:hover{
          border: 1px solid orange;
          font-family: tahoma;
        }
        #sign_in{
          font-weight: bold;
        }

        #sure_cabs{
          color:green;

        }
        #profile_pic:hover{
          width: 31px;
          height: 31px;
        }

        #card:hover{
          background-color: white;
          box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        #comment_here{
          color:gray;
          margin-top: 0px;
          padding-top: 0px;
        }

        #contact_number{
          color: gray;
          font-weight: bold;
        }

        #comment_top{color: green;}

        #ask_que{
          color: #2c3e50;
          font-weight: bold;
          font-size: 25px;
        }
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
  alert(localStorage.getItem("redirect_url"))
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>
<script type="text/javascript">
  $(document).ready(function(){

        setInterval(function(){ 
          $("#div").animate({left: '160px'}, "slow");
        }, 2000);

        setInterval(function(){ 

          $("#div2").animate({left: '230px'}, "slow");

        }, 1000);

        setInterval(function(){ 
          $("#div3").animate({left: '90px'}, "slow");
        }, 1000);
  });
</script>

<script type="text/javascript">
  

  function loginNow() {
      var contact = document.forms["loginForm"]["contact"].value;
      var password = document.forms["loginForm"]["password"].value;

      console.log("fetched data from form contact : "+contact)
      console.log("fetched data from form password: "+password)

      fetch('{{request.scheme}}://{{request.get_host}}/v1/login/submit/', {
          method: 'post',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/x-www-form-urlencoded'
            
          },
          body: JSON.stringify({
            contact: contact,
            password: password
          })
        })
        .then(response=>response.json())
        .then(response => {
            console.log(response)
            console.log(typeof response)
            console.log(response.message)
            
            console.log("Done")

            if (response.status == 200){
                console.log("Fine")
                // var dt = new Date();
                // dt.setTime(dt.getTime() + (1*24*60*60*1000));
                // var expires = "expires="+ dt.toUTCString();


                // document.cookie = ""
                // document.cookie="SureCabs_OfflineTrend_Cookie="+JSON.stringify({"contact": contact })+";"+expires+";path=/"

                // try{
                //   // localStorage.removeItem("contact")
                //   console.log("Couldn't found key named contact")
                // } catch(err){
                //   console.log("Couldn't found key named contact")
                // }

                localStorage.setItem("contact", contact)
                // var decodedCookie = decodeURIComponent(document.cookie);
                // console.log(decodedCookie)
                alert("Your are successfully logged in")
                try{
                  if (localStorage.getItem("redirect_url")){
                    alert("red")
                    location.href=localStorage.getItem("redirect_url")
                    return true
                  }
                } catch(err){
                  alert("red2")
                  document.location.href = "/"
                  return true
                }
                document.location.href = "/"
                return  true
            } else {
                console.log("Tiger", response.log)
                alert(response.message)
                return false
            }
        })
        .catch(function(){
          console.log("Error")
          alert("Error occured")
        });

      return false
  }
</script>
{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
