{% load staticfiles %}
<marquee  direction="right" style="margin: 0px; padding:0px" id="marquee">
    <div>
          <h1 style="margin-bottom: 20px; text-align: center;color: yellow">Mysore</h1>
          <img src="{% static './images/marquee_karna.jpg' %}" style="position: absolute;left: 0px;top: 0px;z-index: -1; margin: 0px; padding: 0px; width: 240px; height: 200px;">
          <!-- <p class="p_marquee">Mysore (or Mysuru), a city in India's<br> southwestern Karnataka state</p><br> -->
    </div>

    <div>
          <h1 style="margin-bottom: 20px; text-align: center;color: yellow">Ooty</h1>
          <img src="{% static './images/marquee_ooty.jpg' %}" style="position: absolute;left: 242px;top: 0px;z-index: -1; margin: 0px; padding: 0px; width: 240px; height: 200px;">
         <!--  <p  class="p_marquee">Ooty, also known as <br>Udhagamandalam, is a hill station in <br>the state of Tamil Nadu</p><br> -->
    </div>

    <div>
          <h1 style="margin-bottom: 20px; text-align: center;color: yellow">Coorg</h1>
          <img src="{% static './images/marquee_coorg.webp' %}" style="position: absolute;left: 484px;top: 0px;z-index: -1; margin: px; padding: 0px; width: 240px; height: 200px;">
      <!--     <p class="p_marquee">Kodagu, also known as Coorg, is a <br>rural district in the state of<br> Karnataka in southwest India. </p><br> -->
    </div>

    <div>
          <h1 style="margin-bottom: 20px; text-align: center;color: yellow">Kerala<br>round trip</h1>
          <img src="{% static './images/marquee_kerala.jpg' %}" style="position: absolute;left: 726px;top: 0px;z-index: -1; margin: 0px; padding: 0px; width: 240px; height: 200px;">
     <!--      <p  class="p_marquee">Kerala , historically known as <br>
          Keralam,is an Indian state in <br>South India on the Malabar Coast.</p><br> -->
    </div>

    <div>
          <h1 style="margin-bottom: 20px; text-align: center;color: yellow">Tirumala</h1>
          <img src="{% static './images/marquee_tirumala.jpg' %}" style="position: absolute;left: 968px;top: 0px;z-index: -1; margin: 0px; padding: 0px; width: 240px; height: 200px;">
       <!--    <p  class="p_marquee">Venkateswara Temple is a <br> landmark Vaishnavite temple <br>situatedin the hilltown<br> of Tirumala.</p><br> -->
    </div>

    <div>
          <h1 style="margin-bottom: 20px; text-align: center;color: yellow">Tamil nadu<br>round trip</h1>
          <img src="{% static './images/marquee_tamil2.jpg' %}" style="position: absolute;left: px;top: 0px;z-index: -1; margin: 0px; padding: 0px; width: 240px; height: 200px;">
          <!-- <p  class="p_marquee">Nandi Hills or Nandi betta is <br> an ancient hill fortress in southern<br> India, in the Chikkaballapur <br>district of Karnataka state. </p><br> -->
    </div>
            
    <div>
   
          <h1 style="margin-top: 15px; text-align: center;color: yellow"><br>Velankanni <br>Church</h1>
          <img src="{% static './images/marquee_velankanni.jpg' %}" style="position: absolute;left: px;top: 0px;z-index: -1; margin: 0px; padding: 0px; width: 240px; height: 200px;">
          <<!-- p  class="p_marquee">Description...</p><br> -->
    </div>


</marquee>

<!--   <div  style="width: 240px; height: 200px; display: inline-block;background-color: red; background-image: url('http://static.punjabkesari.in/multimedia/18_34_319207997palace%203-ll.jpg'); background-size: 100% auto; background-repeat: no-repeat;" >
   
  </div>

  <div style="width: 240px; height: 200px; display: inline-block;background-color: green; background-image: url('http://gotravelaz.com/wp-content/uploads/images/Ooty.jpg'); background-size: cover; background-repeat: no-repeat;" >
  </div>

  <div style="width: 240px; height: 200px; display: inline-block;background-color: green; background-image: url('http://media.makemyhangout.com/Coorg/Walk-Way-inside-Coffee-Estate-Coorg.jpg'); background-size: cover; background-repeat: no-repeat;" >
  </div>

  <div style="width: 240px; height: 200px; display: inline-block;background-color: green; background-image: url('https://www.keralatourism.org/images/downloadHRI/backwater/big/5.jpg'); background-size: cover; background-repeat: no-repeat;" >
  </div>
  
  <div style="width: 240px; height: 200px; display: inline-block;background-color: green; background-image: url('https://jothicharles.files.wordpress.com/2012/01/dsc00765.jpg'); background-size: cover; background-repeat: no-repeat;" >
  </div>
  
  <div style="width: 240px; height: 200px; display: inline-block;background-color: green; background-image: url('http://image3.mouthshut.com/images/Restaurant/Photo/-63250_7045.jpg'); background-size: cover; background-repeat: no-repeat;" >
  </div> -->