  {% load staticfiles %}
  <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top" style="background-color: #0d0d0d;padding: 0px">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <!--  <a onmouseover="this.style.color='#fff'" onmouseleave="this.style.color='#90ee90'" class="navbar-brand" href="/" style="color: lightgreen; font-weight: bold; font-size: 25px; font-family: helvetica" data-toggle="tooltip" data-placement="bottom" title="HOME">
                <i class="fa fa-car" aria-hidden="true" ></i> Sure Cabs
            </a> -->

               <a onmouseover="this.style.color='#fff'" onmouseleave="this.style.color='#90ee90'" class="navbar-brand" href="/" style="margin: 0px;padding: 5px" data-toggle="tooltip" data-placement="bottom" title="HOME">

            <!-- <i class="fa fa-car" aria-hidden="true" ></i> Sure Cabs -->

                <!-- <span style="font-size: 10px; display: inline-block;color: lightgreen">Sure Cabs</span> -->
                 <!-- <img src="https://cdn0.iconfinder.com/data/icons/isometric-city-basic-transport/480/car-front-02-48.png" class="img-responsive" style="width:48px; height: 40px; margin: 0px; padding: 0px; display: inline-block;"> 
            -->
                 <img src="{% static './images/NEW_LOGO.jpg' %}" class="img-responsive" style=" margin: 0px; padding: 0px;height: 45px; width:100px">
               </a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  {% if "/holiday-packages/" in request.path %}
                     <!-- <li title="ACTIVE" data-placement="bottom"><a href="/holiday-packages/" class="nav-title active" style="color:white; background-color: #999999;padding: 6  px"><center>Holiday packages<br><i class="fa fa fa-tripadvisor" aria-hidden="true"></i> </center></a>
                     </li> -->
                     <li data-placement="bottom" style="margin: 0px; padding: 0px;  background-color: #999999;"><a class="nav-title active dropdown dropdown-toggle" data-toggle="dropdown" style="margin-bottom: 0px;color:white;"> Packages
                              <span class="caret"></span></a>
                              <ul class="dropdown-menu" >
                                <li><a href="/#day-trips-here">Day trips</a></li>
                                <li><a href="/holiday-packages/weekends/">Weekends</a></li>
                                <li><a href="/holiday-packages/popular-places/">Popular places</a></li>
                                <li><a href="/holiday-packages/pilgrimages/">Pilgrimages</a></li>
                              </ul>
                     </li>
                  {% else %}
                    <!--  <li data-toggle="tooltip" data-placement="bottom" title="Holiday packages"><a href="/holiday-packages/" class="nav-title"> <i class="fa fa fa-tripadvisor" aria-hidden="true"></i> Holiday packages</a></li> -->

                     <li data-placement="bottom" style="margin: 0px; padding: 0px;"><a class="nav-title dropdown dropdown-toggle" data-toggle="dropdown" style="margin-bottom: 0px;"> Packages
                              <span class="caret"></span></a>
                              <ul class="dropdown-menu" style="margin: 0px">
                                <li><a href="/#day-trips-here">Day trips</a></li>
                                <li><a href="/holiday-packages/weekends/">Weekends</a></li>
                                <li><a href="/holiday-packages/popular-places/">Popular places</a></li>
                                <li><a href="/holiday-packages/pilgrimages/">Pilgrimages</a></li>
                              </ul>
                     </li>
                  {% endif %}
                  

                  <!--           
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                      </ul> 
                  -->

                  {% if "/offers/" in request.path %}
                     <li data-toggle="tooltip" title="ACTIVE" data-placement="bottom"><a href="/about/" class="nav-title active" style="color:white; background-color: #999999;padding: 6px"><center>Online Offers<br><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i></center></a>
                     </li>
                  {% else %}
                     <li data-toggle="tooltip" data-placement="bottom" title="View online offers"><a href="/offers/" class="nav-title"> <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i> Online Offers</a></li>
                  {% endif %}

                  {% if "/about/" in request.path %}
                      <li data-toggle="tooltip" title="ACTIVE" data-placement="bottom" ><a href="/about/" class="nav-title active" style="color:white; background-color: #999999; padding: 6px"><center>About<br><i class="fa fa-users" aria-hidden="true"></i></center> </a>
                      </li>
                  {% else %}
                      <li data-toggle="tooltip" data-placement="bottom" title="About us"><a href="/about/" class="nav-title"><i class="fa fa-users" aria-hidden="true"></i> About</a></li>
                  {% endif %}

                  {% if "/contact/" in request.path %}
                      <li><a href="/contact/" class="nav-title active" style="color:white; background-color: #999999;  padding: 6px" data-toggle="tooltip" data-placement="bottom" title="ACTIVE"><center>Contact<br><i class="fa fa-commenting" aria-hidden="true"></i></center></a></li>
                  {% else %}
                      <li data-toggle="tooltip" data-placement="bottom" title="Contact"><a href="/contact/" class="nav-title"> <i class="fa fa-commenting" aria-hidden="true"></i> Contact</a></li>
                  {% endif %}


                  <li data-toggle="tooltip" data-placement="bottom" title="Contact">
                      <a href="callto:9590331111" class="nav-title" style="color:#F62459; font-weight: bold; font-size: 17px"> 
                      
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      9590331111
                      </a>
                  </li>
             <!--  </ul>
              <ul class="nav navbar-nav navbar-right"> -->
                {% if request.user.is_authenticated %}
                   <li data-toggle="tooltip" data-placement="bottom" title="I am admin, I wanna see bookings"><a href="/v1/booking/all-booking-details" class="nav-title"> <i class="fa fa-database" aria-hidden="true"></i> Latest bookings</a></li>
                {% endif %}
               
                 {% if "/terms-and-conditions/" in request.path %}
                  <li data-toggle="tooltip" title="ACTIVE" data-placement="bottom"><a href="/v1/terms-and-conditions/" class="nav-title active" style="color:white; background-color: #999999; padding: 6px"><center>Terms &amp; conditions<br><i class="fa fa-file-code-o" aria-hidden="true"></i></center></a>
                  </li>
                {% else %}
                  <li data-toggle="tooltip" data-placement="bottom" title="Join us"><a href="/v1/terms-and-conditions/" class="nav-title"><i class="fa fa-file-code-o" aria-hidden="true"></i> Terms &amp; conditions</a>
                  </li>
                {% endif %}

                {% if "/register/" in request.path %}
                  <li id="register_nav" data-toggle="tooltip" title="ACTIVE" data-placement="bottom" style="display: none;"><a href="/register/" class="nav-title active" style="color:white; background-color: #999999;padding: 6px"><center>Register<br><i class="fa fa-user-plus" aria-hidden="true"></i></center></a>
                  </li>
                {% else %}
                  <li id="register_nav" data-toggle="tooltip" data-placement="bottom" title="Join us"  style="display: none;"><a href="/register/" class="nav-title"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
                  </li>
                {% endif %}

                  <li id="logout_nav" data-toggle="tooltip" title="Log out" data-placement="bottom"  style="display: none;"><a href="/v1/logout/" class="nav-title"><i class="fa fa-sign-out" aria-hidden="true"></i> Log out</a>
                </li>            

                {% if "/faqs/" in request.path %}
                    <li data-toggle="tooltip" title="ACTIVE" data-placement="bottom"><a href="/comments/" class="nav-title active" style="color:white; background-color: #999999;padding: 6px;"><center>FAQs<br><i class="fa fa-question-circle-o" aria-hidden="true"></i></center></a>
                  </li>
                {% else %}
                    <li data-toggle="tooltip" data-placement="bottom" title="Frequently asked questions"><a href="/faqs/" class="nav-title"> <i class="fa fa-question-circle-o" aria-hidden="true"></i> FAQs</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
  </div>
