{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Cab booking Web application">
    <meta name="author" content="Rishikesh Agrawani">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>CabService</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="./css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static './css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="{% static './js/ie-emulation-modes-warning.js' %}"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static './css/carousel.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    
    <script>
        function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null};
    </script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Utaxi Cab Service</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="#about">Services</a></li>
                <li><a href="#login">Login</a></li>
                <li><a href="#signup">Sign up</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <div style="height:70px">
    </div>

        <div class="container">
    <div class="row">
       <!--  <h2>Float Label Pattern Forms</h2>
        <p class="lead">
            This new pattern transforms Bootstrap's form fields into modern, fun and user-friendly experiences!<br />
            <small class="text-muted">Learn more about this pattern at <a href="http://bradfrostweb.com/blog/post/float-label-pattern/" target="blank">http://bradfrostweb.com/blog/post/float-label-pattern/</a></small>
        </p>

        <div class="alert alert-warning">
            <h4>Missing SELECT Support</h4>
            This feature does not currently support SELECT tags - I'm still working out a way to make them work with Bootstrap's native examples.
        </div>

        <hr /> -->

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">

                <h1 class="page-header" style="font-family: sans-serif;font-weight: bold">
                <span style="color:black">Enter</span>
                <span style="color:gray"> 6 </span>
                <span style="color:green">digit</span></h1>
                <form role="form" method="post" onsubmit="return g()" name="otpNumberForm">{% csrf_token %}
                    <div class="form-group float-label-control label-bottom">
                        <label for="otp">OTP</label>
                        <input name="otp" id="otp" type="text" class="form-control" placeholder="OTP" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="6" pattern="^[0-9]{6}$" title="OTP should have 6 digits"/>
                    </div>
                    <!-- <div class="form-group float-label-control">
                        <label for="">Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Textarea</label>
                        <textarea class="form-control" placeholder="Textarea" rows="1"></textarea>
                    </div> -->
                    <div class="form-group float-label-control">
                        
                        <button type="submit" class="btn btn-primary btn-md" style="font-weight: bold">Login</button>
                    </div>
                </form>


                <!-- <h4 class="page-header">Bottom Labels</h4>
                <form role="form">
                    <div class="form-group float-label-control label-bottom">
                        <label for="">Username</label>
                        <input type="email" class="form-control" placeholder="Username">
                    </div>
                </form> -->


               <!--  <h4 class="page-header">Placeholder Overrides</h4>
                <form role="form">
                    <div class="form-group float-label-control">
                        <label for="">Email Address</label>
                        <input type="email" class="form-control" placeholder="What's your email address?">
                    </div>
                </form>
 -->
            </div>
            <!-- 
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Features
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Excellent facility</li>
                                <li>24 hours service</li>
                                <li>Big in market</li>
                                <li>Bright future</li>
                                <li>No cheating</li>
                                <li> <code>Mobile number</code> is our key</li>
                                <li>Cabs, taxis, buses and more</li>
                            </ul>
                        </div>
                    </div>
                </div> 
            -->
        </div>
    </div>
    <hr>
</div>
<!-- <script type="text/javascript" src="{% static 'js/otp.js' %}"></script> -->

<script type="text/javascript">
  var app_key_g = ""
  var user_id_g = ""
  // var count = 0

  function f(){
    var data = document.cookie
    console.log(data);
    // alert(data);
    var arr = data.split(";")
    console.log(arr)
    myOriginalDataStr = ""

    for(k in arr){
        arr_equal = arr[k].split("=")
        console.log("Array: ",arr_equal)
        
        //Very neccesary condition check (as the order of key value is either at 0 or 1)
        if (arr_equal[0] == "myCookieData" || arr_equal[0] == " myCookieData" ) {
          myOriginalDataStr = arr_equal[1]
          break
        }   
    }

    console.log("Data: " ,myOriginalDataStr)
    myOriginalData = JSON.parse(myOriginalDataStr)
    console.log("Parserd Data: ", myOriginalData)

    app_key_g  = myOriginalData.app_key
    user_id_g = myOriginalData.user_id
    console.log("Your app_key set on previous page: ", app_key_g)
    console.log("Your user_id set on previous page: ", user_id_g)
    // count += 1 
    //API Call for getting JWT, once correct OTP got entered
    // alert()
  }
  // if( count == 0) {
    f()
  // }
  

//Get JWT

function getJWT(appKey, userId) {
    try{
        var otp = document.forms["otpNumberForm"]["otp"].value;
        console.log("Successfully fetched OTP (from form) as ", otp)

        fetch('http://127.0.0.1:8000/v1/get-token/', {
          method: 'post',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/x-www-form-urlencoded'
          },
          body: JSON.stringify({user_id: userId, app_key: appKey, otp:otp })
        })
        .then(response=>response.json())
        .then(response => {
            console.log(response)
            console.log(typeof response)
            // console.log(response.message)
            alert(response)
            for (prop in response){
                console.log("Property: ", prop)
            }
            alert("status"+response.status + response.token)
            if (response.status == 200){
                // window.location.href = "http://127.0.0.1:8000/book/"
                console.log("Success")
                alert("Your JWT is "+response.token)
                // var data = {"app_key": appKey, "user_id": userId, "token":response.token}
                // document.cookie = "app_key="+appKey+";user_id="+userId+";
                // alert(response.message)
                // console.log(document.cookie)
                // document.cookie="myCookieData="+JSON.stringify(data)
                // console.log("Cookie reset, jwt included")
                // console.log(document.cookie)
                console.log("Great work programmer")
                window.event.returnValue = false;
                // document.location.href = "http://127.0.0.1:8000/book/"
                // console.log("Redirected")
                window.location.assign("http://127.0.0.1:8000/book/")
                return true
            } else {
                console.log("No Success", response.message)
                alert(response.message)
                return false
            }
        })
        .catch(function(){
            console.log("Error: ", response.message)
            alert("Error: ", response.message)
            return false
        });
    }catch(err){
        alert(""+err)
        return false
    }

}

function g() {
    var res = getJWT(app_key_g, user_id_g)
    console.log("Response", res)
    return res
}
</script>

</body>
</html>