{% extends "base.html" %}
{% load staticfiles %}

{% block carousel %}

{% endblock %}



<!--CONTAINER-->
{% block container %}
	<div class="row" id="day-trips-here">
          <!-- Images on home -->
          {% include 'tabcontents/popular_destinations.html' %}

	</div>
    <hr>
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <style type="text/css">
 
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
</script>

{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
