{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %}
	{% include "carousels/carousel-terms-and-conditions.html" %}
{% endblock %}

{% block container %}
		<div class="row">
			<div class="col-md-8 col-md-offset-2  col-xs-12">
          <center>
            <img src="{% static 'images/terms2.png' %}" class="img-responsive" width="10%" id="terms-desc">
				  </center>
          <p id="p_head" class="text-center"  data-toggle="tooltip" title="Terms and conditions"><i class="fa fa-map-o" aria-hidden="true"></i> TERMS AND CONDITIONS</p>
          <hr>
          
          <img src="{% static 'images/terms.jpg' %}" class="img-responsive">
          
          <br>
              <ol>
                <li>
                    
                  The Meter reading Days and Timings are calculated from office to office.
                </li>
                <li>
                   
                  Out Station Minimum 300 kms per day, Otherwise the same will be charged. Day means Calender Day.
                </li>
                <li>
                   Extra Driver's bata for Out Station will be charged double. Driving between 10:00 pm to 6:00 am.
                </li>
                <li>
                    Drivers bata shall be applicable between 10.00 p.m - 6.00 a.m &amp; After 10 Hrs of Local Usage.
                </li>
                <li>
                    Extra Parking Fee, Tollgate and Permit (as per discussion) should be borne by Customer. 
                </li>
                <li>
                    Package tours. are Including Driver Batta, Tollgate, Parking &mp; Inter State Permit.
                </li>
                <li>
                   Interstate permit will be valid only 7 days round trip, Permit copy and tax receipts will not be issued after the trip.
                </li>
                <li>
                   User strictly enter KM &amp; Time before releasing vehicle.
                </li>

                <li>
                   For Local Use ( With in Bangalore ) In case, if it is more than 8 Hrs 80 Kms extra payment as to made according to extra Kms &amp; Hours.
                </li>

                <li>
                   GST will be charged as per the Govt. rules on Gross billing amount.
                </li>

                <li>
                    For Local Trips : Extra Driver's bata applicable before 6.00 a.m. after 22.00 Hours.
                </li>

                <li>
                    After Hours Are Between 10.00 PM To 6 AM.
                </li>

                <li>
                    We are not responsible for your belongings.
                </li>

                <li>
                    All Disputes subject to BANGALORE JURISDICTION.
                </li>
                <li>In Case of cancellation of trip 1 day before the date of journey, confirmation Payment 100% Non-Refundable.
                </li>

                <li><b>
                  <span style="color:maroon">The Rates are not valid during national holidays, Festivals, Long weekends and New Year.</span></b>
                </li>

                <li><span style="color:green; font-weight: bold;font-family: tahoma"><b>Sure Cabs Tours And Travels</b></span>  reserves the right to change/modify or terminate the offer any time at its own discretion &amp;without any prior notice
                </li>

              </ol>
              <br>
              <br>
              <center> <i style="font-family:lucida; font-weight: bold; color: green"><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Note - For further details, you can contact us and we will be happy to help you! </i></center>
          </p>
          <hr>
      </div>
    </div>
 <!--
  SURECABS OWNERS - PRAMILA RAMAMURTHY AND HUSBAND
  SURECABS GUIDES - G RATHNAKARA SIR(NETWORK ENGINEER), ARJUN T SIR(CEO at OFFLINETREND)
  SURECABS DEVELOPER - RISHIKESH AGRAWANI 
  LANGUAGE USED FOR BACKEND - Python 2.7.13
  FRAMEWORK USED - DJANGO 1.11.2
  DEPLOYED ON - 22 AUGUST 2017
  DEVELOPED AT - OFFLINETREND SOLUTIONS PVT LTD (BANGALORE)
  PURPOSE - PEOPLE CAN BOOK VEHICLES(INNOVAS/TEMPO TRAVELLERS/BUSES/MINI BUSES) FOR TOURS EITHER BY DIRECT CALL OR BY FILLING ONLINE FORM.
--> 
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <!-- <link rel="stylesheet" href="{% static './css/carousel.css' %}" > -->
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        @media only screen and (max-width: 768px){
        	.details{
        		text-align: left;
        	}
        	body{
        		/*background-color:#f2f2f2;*/
        	}
        	
        	
          #myCarousel{
            max-height: 350px;
          }
          .carousel .item {
              height: 350px;
            }

          .item img {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 350px;
          }
        }

        #p_head{
          font-size: 25px;
          font-weight: bold;
        }
        #p_desc,ol li{
          text-align: justify;
          font-size: 17px;
          font-family:lucida;
          color: #34495e;   
          margin: 10px;
        }
        li:hover{
          color: green;
        }
        h3{
          font-family: sans-serif;
        }
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}
<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();   
		});
</script>
{% endblock js_body %}

{% block footer %}
	{% include "footer.html" %}
{% endblock footer %}
