{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Cab booking Web application">
    <meta name="author" content="Rathnakara Sir; Arjun Sir; Rishikesh Agrawani">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Sure Cabs</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="./css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <!--  <link href="{% static './css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="{% static './js/ie-emulation-modes-warning.js' %}"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static './css/carousel.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js">
    </script>
    <style type="text/css">
      body{
        background-color:#fdfdfd;
      }

        
    </style>
    
    <style type="text/css">
      .navbar .nav .nav-title{
        color: white; 
        font-weight: bold; 
        font-size: 15px;
      }
      .navbar .nav .nav-title:hover{
        color: #bdc3c7; 
        font-weight: bold; 
        font-size: 15px;
      }
      body{
        background-image: url("{% static 'images/road.gif' %}");
        background-size: 100%;
        /*margin: 0;
        padding:0;*/
        /*background-opacity: 0.2;*/
      }
      /*html{
        margin: 0;
        padding: 0;
      }*/

          * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

      @media screen and (min-width:  980px){
        .container .row #bookcard {
          height: 800px;
        }
      }
        
    </style>
    <!--DatePicker-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
     $( function() {
      $( "#datepicker2" ).datepicker();
    } );
    </script>
    
        <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
     <!--Auto complete place related css, starts--> 
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
    </style>
    <!--Auto complete place related css, ends--> 
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#" style="color: lightgreen; font-weight: bold; font-size: 25px">Sure Cabs</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="#about" class="nav-title">About Us</a></li>
                <li><a href="#contact" class="nav-title">Contact</a></li>
                <li><a href="#products" class="nav-title">Services</a></li>
                <!-- <li><a href="#products" class="nav-title">FAQ</a></li> -->
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="#comments" class="nav-title">Comments</a></li>
                <li><a href="#faq" class="nav-title">FAQ</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <div style="height: 150px"></div>

    <!--Conatiner-->
    <div class="container">
        <div class="row">
            <div id="bookcard" class="col-lg-6 col-lg-offset-3 col-xs-12" style="background-color: white; height: 500px; padding: 10px ; background-color: #ecf0f1; border: 1px solid #ecf0f1">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#home">LOCAL</a></li>
                      <li><a data-toggle="tab" href="#menu1">OUTSTATION</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="home" class="tab-pane fade in active">
                          <!--Row1 starts-->
                          <div class="row">
                            <div class="col-lg-4">
                              <img src="{% static 'images/giphy-car.gif' %}" style="width: 100%" class="img-responsive" >
                            </div>
                            <div class="col-lg-8">
                                <p style="font-size: 30px; color:#16a085;font-weight: bold">Book Now</p>
                                <p style="color: #2c3e50"><b>Dear user</b>, <span style="color: maroon; font-weight: bold">please fill the follwoing details to book your ride.</span></p>
                                <br>
                            </div>

                          </div>
                          <!--Row1 ends-->

                          <!--Row2 starts-->
                          <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <!--Booking form-->
                              <form>
                                <div class="row">
                                    <div class="col-lg-8">
                                      <span>How many of your members are travelling?</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <select>
                                          <option>
                                            1-7
                                          </option>
                                          <option>
                                            8-16
                                          </option>
                                          <option>
                                            17-32
                                          </option>
                                          <option>
                                            33-52
                                          </option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-8">
                                      <span>From</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="from" placeholder="Pick up location"
                                        onFocus="geolocate()" id="autocomplete">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-8">
                                      <span>To</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" name="to" placeholder="Your destination"
                                        onFocus="geolocate()" id="autocomplete2">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-8">
                                      <span>Date of travel</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><input type="text" id="datepicker" name="dot"></p>

                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-8">
                                      <span>Date of return</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <p><input type="text" id="datepicker2" name="dor"></p>

                                    </div>
                                </div>
                                <br>
                                <center>
                                  <input type="submit" value="Book Now" class="btn btn-primary" role="button"/>
                                </center>
                              </form>
                            </div>
                          </div>
                          <!--Row2 ends-->
                      </div>
                      <div id="menu1" class="tab-pane fade">
                        <h3>Outstation</h3>
                               <!--AUTO Complete places, starts-->
                                {% include 'outstation.html' %}
                              <!--AUTO Complete places, ends-->
                      </div>
                    </div>
            </div>
            <div class="col-lg-3 col-xs-12" style="background-color: white; height: 500px; padding: 10px ;" class="itemzoom">
                    <marquee direction="up" height="489px">
                        <img src="{% static 'images/cab-book.jpg' %}" style="width: 100%" class="img-responsive"> 
                        <br>
                         <img src="{% static 'images/bookcab1.jpg' %}" style="width: 100%" class="img-responsive"> 
                         
                         <br>
                         <img src="{% static 'images/Uber-Cab-Pool-Rides.png' %}" style="width: 100%" class="img-responsive"> 
                         <br>
                         <img src="{% static 'images/cab-family.jpg' %}" style="width: 100%" class="img-responsive"> 
                    </marquee>
            </div>
        </div>
    </div>

<!--     <hr>
    <div style="padding-bottom: 20px; font-family: tahoma; font-weight: bold">
          <center>Copyright &copy; 2017<br>Bangalore(Karnataka), India</center>
    </div> -->

    <script type="text/javascript" src="{% static './js/form.js' %}"></script>
    <script type="text/javascript" src="{% static './js/home.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static './js/auto_place.js' %}"></script> -->

    <!--My code ends-->
    {% include "auto-address.html" %}

  </body>
</html>
