{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Cab booking Web application">
    <meta name="author" content="Rishikesh Agrawani">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>CabService</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="./css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static './css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="{% static './js/ie-emulation-modes-warning.js' %}"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static './css/carousel.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js">
    </script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Utaxi Cab Service</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="#about">Services</a></li>
                <li><a href="#login">Login</a></li>
                <li><a href="#signup">Sign up</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide img-responsive" src="{% static './images/taxi2.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Utaxi</span>
                <span class="span_s">Service</span>
              </h1>
              <p>We are trying to make your ride memorable</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Get a cab &raquo;</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide img-responsive" src="{% static './images/Bugatti-Veyron-2013-Sports-Cars-HD-Wallpaper-2.jpg' %}" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_e">Enjoy</span>
                <span class="span_r">Ride</span>
              </h1>
              <p>Go everywhere in the city and enjoy</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book a taxi now</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide img-responsive" src="{% static '/images/nissan_auto_black_street_87159_1920x1080.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">Get taxies</span>
                <span class="span_r">ealily</span></h1>
              <p>We have a great collections of comfortable taxies</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Taxi images</a></p>
            </div>
          </div>
        </div>

         <div class="item">
          <img class="fifth-slide img-responsive" src="{% static '/images/rinspeed_etos_concept-HD.jpg' %}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>
                <span class="span_u">Save</span>
                <span class="span_s">money</span>
              </h1>
              <p>We don't apply any extra charge in any condition</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Get a cab &raquo;</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img class="third-slide img-responsive" src="{% static './images/nissan_auto_black_street_87159_1920x1080.jpg' %}" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><span class="span_e">No </span>
                  <span class="span_r">problem</span></h1>
              <p>We guarantee to provide you nice cabs/taxies</p>
              <p><a class="btn btn-lg btn-success" href="#" role="button">Gone</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <!--My code -->
    
    <!-- <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="text-center login-title">Sign in</h1>
                                <div class="account-wall">
                                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                        alt="">
                                    <form class="form-signin">
                                    <input type="text" class="form-control" placeholder="Email" required autofocus>
                                    <input type="password" class="form-control" placeholder="Password" required>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Sign in</button>
                                    <label class="checkbox pull-left">
                                        <input type="checkbox" value="remember-me">
                                        Remember me
                                    </label>
                                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                                    </form>
                                </div>
                                <a href="#" class="text-center new-account">Create an account </a>
                            </div>
                            <div class="col-sm-6">
                                  
                            </div>
                        </div>
    </div> -->
<!--Input form starts-->
    <div class="container">
    <div class="row">
       <!--  <h2>Float Label Pattern Forms</h2>
        <p class="lead">
            This new pattern transforms Bootstrap's form fields into modern, fun and user-friendly experiences!<br />
            <small class="text-muted">Learn more about this pattern at <a href="http://bradfrostweb.com/blog/post/float-label-pattern/" target="blank">http://bradfrostweb.com/blog/post/float-label-pattern/</a></small>
        </p>

        <div class="alert alert-warning">
            <h4>Missing SELECT Support</h4>
            This feature does not currently support SELECT tags - I'm still working out a way to make them work with Bootstrap's native examples.
        </div>

        <hr /> -->

        <div class="row">
            <div class="col-sm-8">

                <h1 class="page-header" style="font-family: sans-serif;font-weight: bold">
                <span style="color:black">Enter</span>
                <span style="color:gray"> 10 </span>
                <span style="color:green">digit</span></h1>
                <form role="form" method="post" onsubmit="return getToken()" name="mobileNumberForm">{% csrf_token %}
                    <div class="form-group float-label-control label-bottom">
                        <label for="mobi">Mobile Number</label>
                        <input name="mobileNumber" id="mobi" type="text" class="form-control" placeholder="Mobile number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9"/>
                    </div>
                    <!-- <div class="form-group float-label-control">
                        <label for="">Password</label>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Textarea</label>
                        <textarea class="form-control" placeholder="Textarea" rows="1"></textarea>
                    </div> -->
                    <div class="form-group float-label-control">
                        
                        <button type="submit" class="btn btn-primary btn-md" style="font-weight: bold">Get OTP</button>
                    </div>
                </form>


                <!-- <h4 class="page-header">Bottom Labels</h4>
                <form role="form">
                    <div class="form-group float-label-control label-bottom">
                        <label for="">Username</label>
                        <input type="email" class="form-control" placeholder="Username">
                    </div>
                </form> -->


               <!--  <h4 class="page-header">Placeholder Overrides</h4>
                <form role="form">
                    <div class="form-group float-label-control">
                        <label for="">Email Address</label>
                        <input type="email" class="form-control" placeholder="What's your email address?">
                    </div>
                </form>
 -->
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Features
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Excellent facility</li>
                            <li>24 hours service</li>
                            <li>Big in market</li>
                            <li>Bright future</li>
                            <li>No cheating</li>
                            <li> <code>Mobile number</code> is our key</li>
                            <li>Cabs, taxis, buses and more</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<!--Input form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                
                <img src="{% static 'images/500x500.png' %}" class="img-responsive">
            </div>
            <div class="col-sm-4">

                 <img src="{% static '/images/500x500.png' %}" class="img-responsive">
            </div>
            <div class="col-sm-4">
                 <img src="{% static './images/500x500.png' %}" class="img-responsive">
            </div>
        </div>
    </div>
            
    <script type="text/javascript" src="{% static './js/form.js' %}"></script>
    <!--My code ends-->
  </body>

  <script type="text/javascript" src="{% static './js/home.js' %}"></script>
</html>
