{% extends "base.html" %}

<!--CONTAINER-->
{% block container %}
		{% include "carousels/carousel-comments.html" %}

		<br>
		<h1 class="text-center">Top comments </h1>
		{% for comment in comments %}
		<div class="row">
			
			<div class="col-md-8 col-md-offset-2 col-xs-12  itemzoom"  id="card">

							<!-- <center>
								<h3 style="color: green">Booked vehicle details</h3>
								<hr>
							</center> -->
							<div class="row" style="min-height: 100px;padding:10px">
								<div class="col-lg-5 col-xs-12">
									<div class="row text-center">
										<img src="{{comment.commented_by.profile_pic.url}}" width="30" height="30">
										<p>{{comment.commented_by.email}}</p>
										<p>+91 {{comment.commented_by.contact}}</p>
									</div>
								</div>
								<div class="col-lg-7 col-xs-12" style="padding-top: 10px">
									<b>Says</b>
									<p>{{comment.comment}}</p>
									
								</div>	
							</div>
						
					
				
			</div>
			
		</div>
		{% endfor %}
		<hr>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-xs-12">
			  <form method="get">
			  	<div class="form-group">
			      <label for="email">Full name*</label>
			      <input type="fname" class="form-control" id="fname" placeholder="Deepak Jones" name="email" required="true">
			    </div>
			    <div class="form-group">
			      <label for="email">Email*</label>
			      <input type="email" class="form-control" id="email" placeholder="deepak.jones@gmail.com" name="email" required="true">
			    </div>
			    <div class="form-group">
			      <label for="contact">Contact Number</label>
			      <input type="text" class="form-control" id="contact" placeholder="7917291992" name="contact" required="false">
			    </div>
			    <div class="form-group">
			      <label for="email">Address</label>
			      <textarea class="form-control" id="email" placeholder="Near Soni signal, 
Koramangala, Bangalore" name="address" rows="8"></textarea>
			    </div>
			    	
			    <button type="submit" class="btn btn-success">Comment</button>
			  </form>
			</div>
		</div>

		
		
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <style type="text/css">
  	    * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        .itemzoom {
          position: relative;
          
          /*border: 1px solid #333;*/
          /*margin: 2%;*/
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       
        
  </style>
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}

{% endblock js_body %}
