{% extends "base.html" %}
{% load staticfiles %}
<!--CONTAINER-->
{% block carousel %} 
  {% include "carousels/carousel-home.html" %}
{% endblock %}

{% block gifs %}
      <div class="container-fluid">
        <!-- <div class="row" style="height:200px; opacity:0.8;background-color:#00b3b3; background-image: url('http://algoworks.com.s3-us-west-2.amazonaws.com/new-algoworks/wp-content/uploads/2017/01/10143720/feature1.png')" > -->

        <div class="row" style="background-repeat: no-repeat;height:200px; opacity:0.8;background-color:#996666; background-image: url('{% static './images/scroll_long.jpg' %}')" >
        
            <!-- <div class="col-xs-12 col-md-12"> -->
                <!-- <marquee  direction="right" style="margin: 0px; padding:0px">

                    <img src="https://media.giphy.com/media/Ohs4AkxKWLSDe/giphy.gif" style="height: 200px; margin: 0px; padding: 0px; ">
                    <img src="https://cdn.dribbble.com/users/778581/screenshots/2049806/foodtruck_dribble.gif" style="height: 200px;margin: 0px;  padding: 0px;">
                    <img src="https://s-media-cache-ak0.pinimg.com/originals/f9/d0/d4/f9d0d41c3e65ca986b1e5af0264bc357.gif" style="height:200px; margin:0px; padding: 0px">

                    <img src="https://cdn.dribbble.com/users/627633/screenshots/1987273/dribbble-car-all-2.gif" style="height: 200px; margin: 0px; padding:0px" />  
                 </marquee> -->
                 {% include "marquee_scroll_on_home.html" %}
            <!-- </div> -->
        </div>
      </div>
      
{% endblock gifs %}

{% block container %}
<div class="row">
    <!--Column 1-->
    <div class="col-md-7  col-xs-12" style="background-color: #fffff1">
            <hr>
            <!--Animation starts-->

              <div id="div" style="height:100px;width:100px;position:absolute;">
                 <!--  <img src="https://cdn1.iconfinder.com/data/icons/car-vol-1-3/512/2-256.png" style="height: 55px; width: 55px;" /> -->
                   <img src="https://cdn0.iconfinder.com/data/icons/cars-and-delivery/512/minibus-256.png" style="height: 55px; width: 55px" />
              </div>
              <div id="div2" style="height:100px;width:100px;position:absolute;">
                  <!-- <img src="https://cdn0.iconfinder.com/data/icons/minimalistic-blue-travel-and-transportation/518/YC_Taxi_Side-256.png" style="height: 55px; width: 55px" /> -->
                 <img src="https://cdn4.iconfinder.com/data/icons/transportation-volume-ii/128/tractor-trailer-256.png" style="height: 56px; width: 56px">
         
              </div>

              <div id="div3" style="height:100px;width:100px;position:absolute;">
                  <!-- <img src="https://cdn0.iconfinder.com/data/icons/minimalistic-blue-travel-and-transportation/518/YC_Taxi_Side-256.png" style="height: 55px; width: 55px" /> -->
                 <img src="https://cdn4.iconfinder.com/data/icons/transportation-volume-ii/128/car-256.png" style="height: 56px; width: 56px">
              </div>
              <!--Animation ends-->
        <br>
        <hr>
        <ul class="nav nav-tabs">
          
          <li class="active"><a data-toggle="tab" href="#menu1">OUTSTATION</a></li>
          <li><a data-toggle="tab" href="#home">LOCAL</a></li>
        </ul>

        <div class="tab-content" id="tab-content">
          <br>

          <div id="menu1" class="tab-pane fade in active">
            <!-- <i class="fa fa-car fa-2x faicon" aria-hidden="true"></i> &nbsp; -->
           <!--  <span class="glyphicons glyphicons-car"></span>
            <span class="glyphicons glyphicons-bus"></span> -->
            <!-- <i class="fa fa-bus fa-2x faicon" aria-hidden="true"></i> &nbsp;  -->
           <!--  <i class="fa fa-motorcycle fa-2x faicon" aria-hidden="true"></i> &nbsp;
            <i class="fa fa-truck fa-2x faicon" aria-hidden="true"></i> -->


          <!-- 
                  <img  src="https://cdn2.iconfinder.com/data/icons/car-11/100/taxi3-32.png" class="img-responsive iconf" style="display:inline-block" />&nbsp;
                  <img src="https://cdn2.iconfinder.com/data/icons/transport-59/614/12_-_Bus-32.png" class="img-responsive iconf" style="display:inline-block" />&nbsp;
                  <img src="https://cdn1.iconfinder.com/data/icons/e-commerce-website/100/Delivery-32.png" class="iconf img-responsive" style="display:inline-block" >
          -->


            {% include "book-form.html" %} 
          </div>
          <div id="home" class="tab-pane fade">
            <!-- <i class="fa fa-bus fa-2x faicon" aria-hidden="true"></i> &nbsp; 
            <i class="fa fa-car fa-2x faicon" aria-hidden="true"></i> &nbsp;
            <i class="fa fa-truck fa-2x faicon" aria-hidden="true"></i> &nbsp;
            <i class="fa fa-motorcycle fa-2x faicon" aria-hidden="true"></i> -->
            {% include "local_specification.html" %}
          </div>
        </div>
    </div>
    <!--Column 2-->
    <div class="col-md-5 col-xs-12" style="background-color: #ffffdd">
        <hr>
        <h1><i class="fa fa-book" aria-hidden="true"></i> Specialities </h1>
        <br>
        <marquee style="font-family:Book Antiqua; color:#ffffff;  text-align: center; font-family: tahoma" height=225 width=100% direction="up"  bgcolor="#16a085" scrolldelay="2">
              We give you offers
              <img class="featurette-image img-responsive center-block" src="{% static './images/tt.png' %}" alt="Force" style="width: 50%; min-height: 100px" />
              <br>

              Use whats app to contact
              <img class="featurette-image img-responsive center-block" src="{% static 'images/WhatsApp-logo.png' %}" alt="Force" style="width: 50%; min-height: 100px" />
              <br>
               Join us on facebook
              <img class="featurette-image img-responsive center-block" src="{% static 'images/Facebook-create.png' %}" alt="Bosch" style="width: 50%" />
              <br>
              <!-- Feel free to share the feedbacks -->
            <!--   <img class="featurette-image img-responsive center-block" src="" alt="Bizol" style="width: 50%" /> -->
          </marquee>
          <marquee style="font-family:Book Antiqua; color:#ffffff; padding:10px; text-align: center; font-family: tahoma" height=225 direction="down"  bgcolor="#34495e" scrolldelay="90" >
          <img src="https://s3.envato.com/files/210604508/call%20my%20cab_header.jpg" alt="FEATURES" style="width: 50%"><br>
          Don't miss offers &amp; save money<br><br>

            <img src="{% static 'images/contact_1.jpg' %}" alt="FEATURES" style="width: 50%; height: 150px"><br>
            We are always ready to serve<br><br>

            <img src="{% static 'images/car_2.jpg' %}" alt="FEATURES" style="width: 50%"><br>
            Low cost and full gaurantee<br><br>

            <img src="{% static 'images/enova_3.jpg' %}" alt="FEATURES" style="width: 50%"><br>
            We provide enovas<br> <br>

            <img src="{% static 'images/bus_4.jpg' %}" alt="FEATURES" style="width: 50%"><br>
            We provide buses<br>

          </marquee> 
    </div>
</div>
<hr>
<div class="row" id="#day-trips-here">
          <!-- Images on home -->
          {% include "tabcontents/day_trips.html" %}

</div>

  <!-- <div class="row"> -->
      
  <!-- </div> -->   
{% endblock container %}

<!--JAVASCRIPT(s)-->
{% block js_head %}

{% endblock js_head %}

<!--CSS(s)-->
{% block css %}
  <!-- <link rel="stylesheet" href="{% static './css/carousel.css' %}" > -->
  <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
  <style type="text/css">
      * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }
       
        .itemzoom2 {
          position: relative;
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:2px 4px 8px 2px rgba(0, 200, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        @media only screen and (max-width: 768px){
          .details{
            text-align: left;
          }
          body{
            /*background-color:#f2f2f2;*/
          }
          #card div .details{
            text-align: left;
          }
          .itemzoom #break {
            color: red;
          }

          #myCarousel{
            max-height: 350px;
          }
          .carousel .item {
              height: 350px;
            }

            .item img {
                position: absolute;
                top: 0;
                left: 0;
                min-height: 350px;
            }
        }

        #datepicker2, #datepicker, #autocomplete3, #autocomplete,#datepicker3, #datepicker4, #autocomplete4, #autocomplete2{
          border: 1px solid black;
        }

        #datepicker2:hover, #datepicker:hover, #autocomplete:hover, #autocomplete3:hover,#datepicker4:hover, #datepicker3:hover, #autocomplete4:hover, #autocomplete2:hover{
          border: 1px solid orange;
          font-family: tahoma;
        }

        #sign_up{
          font-weight: bold;
        }

        #sure_cabs{
          color:green;

        }
        #profile_pic:hover{
          width: 31px;
          height: 31px;
        }

        #card:hover{
          background-color: white;
          box-shadow:0 0px 4px 1px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        
        #comment_here{
          color:gray;
          margin-top: 0px;
          padding-top: 0px;
        }

        #contact_number{
          color: gray;
          font-weight: bold;
        }

        #comment_top{color: green;}

        #ask_que{
          color: #2c3e50;
          font-weight: bold;
          font-size: 25px;
        }

        img.iconf:hover{
          height: 31px;
          width: 31px;
        }

        body{
          /*background-color: #f7f7fa;*/
        }

        /*For place descriptions*/
        #p_head{
          font-size: 30px;
          font-weight: bold;
        }

        #p_desc{
          text-align: justify;
          font-size: 17px;
          font-family:lucida;
          color: #34495e;
        }

         .p_head2{
          font-size: 15px;
          font-weight: bold;
          /*font-family: tahoma;*/
        }

        .p_desc2{
          text-align: justify;
          font-size: 13px;
          font-family:tahoma;
          color:#34495e;
        }

        img.bangalore{
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        img.bangalore:hover{
          box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        ul.places li, ol li{
          margin: 13px;
        }
        .best-time-for-mysore{
          color:#5c3d4d;
        }

        #sure_travels{
        color:lightblue;
      }
      #sure_tips{
        color: #d4dfe3;
        font-size: 17px;
      }
      #sure_site a{
        font-size: 18px;
        color: lightgreen;
      }
      .p_marquee{
        text-align: center; 
        color:#ecf0f1;
      }
      #marquee div {
        width: 240px; 
        height: 200px; 
        display: inline-block;
      }
      #marquee div h1:hover{
          color: lightgreen;
      }

  </style>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock css %}

<!--BODY JAVASCRIPT(s)-->
{% block js_body %}

      <script type="text/javascript">
        function checkContact(contact){
            if(contact === null || contact === undefined) {
                        alert("You will have to login to book the cab")
                        document.location.href="/v1/login-new"
            }
        }
        
        $(document).ready(function(){
            var contact = localStorage.getItem("contact")

            $("#select, #autocomplete2, #autocomplete, #autocomplete4, #autocomplete3, #datepicker, #datepicker2, #datepicker3, #datepicker4").click(function(){
                checkContact(contact)
            });
        });
      </script>

      <script>
          $(document).ready(function(){
              $('[data-toggle="tooltip"]').tooltip();   
          });
      </script>

  <!--DATE PICKER-->
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="{% static 'js/book.js' %}"></script>
      <script>
      $( function() {
        $( "#datepicker" ).datepicker({ minDate: 0});
        $( "#datepicker2" ).datepicker({ minDate: 0});
        // $( "#datepicker3" ).datepicker();
        $( "#datepicker3" ).datepicker({minDate: 0});
        $( "#datepicker4" ).datepicker({minDate: 0});
      } );
      </script> 
  <!--DATE PICKER ENDS-->
      {% include "auto-address.html" %}


<script type="text/javascript">
  $(document).ready(function(){

        setInterval(function(){ 
          $("#div").animate({left: '160px'}, "slow");
          // $("#div2").animate({left: '230px'}, "slow");
          // $("#div3").animate({left: '90px'}, "slow");
        }, 2000);

        setInterval(function(){ 
          // $("#div").animate({left: '160px'}, "slow");
          $("#div2").animate({left: '230px'}, "slow");
          // $("#div3").animate({left: '90px'}, "slow");
        }, 1000);

        setInterval(function(){ 
          // $("#div").animate({left: '160px'}, "slow");
          // $("#div2").animate({left: '230px'}, "slow");
          $("#div3").animate({left: '90px'}, "slow");
        }, 1000);
        // setInterval(function(){ 
        //   $("#div3").animate({left: '350px'}, "slow");
          
        // }, 1000);
        $(".members_select").on("change", function(){
            if(this.value == "1-4"){
                $("#selected_vehicle").attr("src", "https://www.shareicon.net/data/128x128/2016/07/15/796358_car_512x512.png")
                console.log("You selected vehicle for 1-4 members")
            } else {
                if(this.value == "5-7"){
                    $("#selected_vehicle").attr("src", "https://cdn3.iconfinder.com/data/icons/transport-icons-2/512/BT_c3side-128.png")
                    console.log("You selected vehicle for 5-7 members")
                } else {
                    if(this.value == "8-13"){
                        $("#selected_vehicle").attr("src", "https://cdn1.iconfinder.com/data/icons/pictograms-glyphs-6/48/288-128.png")
                        console.log("You selected vehicle for 8-12 members")
                    } else {
                        if(this.value == "14-21"){
                            $("#selected_vehicle").attr("src", "https://cdn3.iconfinder.com/data/icons/transportation-vol-1/24/_bus-128.png")
                            console.log("You selected vehicle for 13-20 members")
                        } else {
                            $("#selected_vehicle").attr("src", "https://cdn2.iconfinder.com/data/icons/transport-48/512/Bus-128.png")
                            console.log("You selected vehicle for 21-33/34-52 members")
                        }
                    }
                } 
            }   
        })
        //ends

        $(".vehicle_form div").hover(function(){
            $(this).css("background-color", "white")
        })
  });
</script>


{% endblock js_body %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}
