{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Cab booking Web application">
    <meta name="author" content="Rathnakara Sir; Arjun Sir; Rishikesh Agrawani">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>CabService</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="./css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <!--  <link href="{% static './css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="{% static './js/ie-emulation-modes-warning.js' %}"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static './css/carousel.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js">
    </script>
    <style type="text/css">
      body{
        background-color:#fdfdfd;
      }
      * {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
        }

        .itemzoom {
          position: relative;
          
          /*border: 1px solid #333;*/
          /*margin: 2%;*/
          overflow: hidden;
          padding-bottom: 10px;
          /*width: 540px;*/
          box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .itemzoom img {
          max-width: 100%;
          
          -moz-transition: all 0.3s;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
        }
        .itemzoom:hover img {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          transform: scale(1.1 );
          /*box-shadow: 0px 2px gray;*/
        }
 
    </style>
        <style type="text/css">
      .navbar .nav .nav-title{
        color: white; 
        font-weight: bold; 
        font-size: 15px;
      }
      .navbar .nav .nav-title:hover{
        color: #bdc3c7; 
        font-weight: bold; 
        font-size: 15px;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(
        function(){
          $("a[href='#home-img']").click(function(){
            console.log("Selected Cars")
            $("#h1-vehicles").text("OUR CARS")
          });
          $("a[href='#menu1-img']").click(function(){
            console.log("Selected Mini buses")
            $("#h1-vehicles").text("OUR MINI BUSES")
          });
          $("a[href='#menu2-img']").click(function(){
            console.log("Selected Buses")
            $("#h1-vehicles").text("OUR BUSES")
          });
          $("a[href='#menu3-img']").click(function(){
            console.log("Selected Trucks")
            $("#h1-vehicles").text("OUR TRUCKS")
          });

        }
      )
    </script>
  </head>
<!-- NAVBAR
================================================== -->
  <body>
<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/" style="color: lightgreen; font-weight: bold; font-size: 25px">Sure Cabs</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="#about" class="nav-title">About Us</a></li>
                <li><a href="#contact" class="nav-title">Contact</a></li>
                <li><a href="#products" class="nav-title">Services</a></li>
                <li><a href="#products" class="nav-title">FAQ</a></li>
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!-- <li class="active"><a href="#">Home</a></li> -->
                <li><a href="#comments" class="nav-title">Comments</a></li>
                <li><a href="#faq" class="nav-title">FAQ</a></li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <!--My code -->
    
    <!-- <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="text-center login-title">Sign in</h1>
                                <div class="account-wall">
                                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                                        alt="">
                                    <form class="form-signin">
                                    <input type="text" class="form-control" placeholder="Email" required autofocus>
                                    <input type="password" class="form-control" placeholder="Password" required>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                                        Sign in</button>
                                    <label class="checkbox pull-left">
                                        <input type="checkbox" value="remember-me">
                                        Remember me
                                    </label>
                                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                                    </form>
                                </div>
                                <a href="#" class="text-center new-account">Create an account </a>
                            </div>
                            <div class="col-sm-6">
                                  
                            </div>
                        </div>
    </div> -->
<!--Input form starts-->
     <hr>
    <div class="container">
    <div class="row">
       <!--  <h2>Float Label Pattern Forms</h2>
        <p class="lead">
            This new pattern transforms Bootstrap's form fields into modern, fun and user-friendly experiences!<br />
            <small class="text-muted">Learn more about this pattern at <a href="http://bradfrostweb.com/blog/post/float-label-pattern/" target="blank">http://bradfrostweb.com/blog/post/float-label-pattern/</a></small>
        </p>

        <div class="alert alert-warning">
            <h4>Missing SELECT Support</h4>
            This feature does not currently support SELECT tags - I'm still working out a way to make them work with Bootstrap's native examples.
        </div>

        <hr /> -->

       <!--  <div class="row"> -->

            <div class="col-sm-8">
                  <br>
                
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Login</a></li>
                    <li><a data-toggle="tab" href="#menu1">Register</a></li>
                    
                  </ul>

                  <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                       <h1 class="page-header" style="font-family: sans-serif;font-weight: bold" id="h1-enter">
                        <span style="color:black">Enter</span>
                        <span style="color:gray"> 10 </span>
                        <span style="color:green">digit</span></h1>
                        <form role="form" method="post" onsubmit="return getToken()" name="mobileNumberForm">{% csrf_token %}
                            <div class="form-group float-label-control label-bottom">
                                <label for="mobi">Mobile Number*</label>
                                <input name="mobileNumber" id="log-mobi" type="text" class="form-control" placeholder="Mobile number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9"/>
                            </div>
                            
                            <!-- <div class="form-group float-label-control">
                                <label for="">Password</label>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group float-label-control">
                                <label for="">Textarea</label>
                                <textarea class="form-control" placeholder="Textarea" rows="1"></textarea>
                            </div> --> 
                            <div class="form-group float-label-control">
                                
                                <button type="submit" class="btn btn-primary btn-md" style="font-weight: bold">Get OTP</button>&nbsp;
                                <img src="{% static 'images/loading.gif' %}" id="gif-image" style="display:none"/ >
                            </div>
                        </form>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h1 class="page-header" style="font-family: sans-serif;font-weight: bold">
                        <span style="color:black">Enter</span>
                        <span style="color:gray"> your</span>
                        <span style="color:green">details</span></h1>
                        <form role="form" method="post" onsubmit="return register()" name="mobileNumberForm">{% csrf_token %}
                            <div class="form-group float-label-control label-up">
                                <label for="mobi">Mobile Number</label>
                                <input name="mobileNumber" id="reg-mobi" type="text" class="form-control" placeholder="Mobile number" oninput="this.value=this.value.replace(/[^0-9]/g,'');" maxlength="10" pattern="^([789])([0-9]{9})$" title="Mobile number(having 10 digits) should start with 7 or 8 or 9" required />
                            </div>
                            <div class="form-group float-label-control label-up">
                                <label for="fname">Full name</label>
                                <input name="fname" id="mobi" type="text" class="form-control" placeholder="Full name" oninput="this.value=this.value.replace(/[^a-zA-Z\s]/g,'');" maxlength="50"  title="Full name should not contain digits" required/>
                            </div>
                            <div class="form-group float-label-control label-up">
                                <label for="email">email</label>
                                <input name="email" id="email" type="email" class="form-control" placeholder="Email" required />
                            </div> 
                            <div class="form-group float-label-control label-up">
                                <label for="address">Address</label>
                                <textarea name="address" style="height: 100px" id="address" type="textarea" class="form-control" placeholder="Address" required></textarea>
                            </div>
                            <!-- <div class="form-group float-label-control">
                                <label for="">Password</label>
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="form-group float-label-control">
                                <label for="">Textarea</label>
                                <textarea class="form-control" placeholder="Textarea" rows="1"></textarea>
                            </div> -->
                            <div class="form-group float-label-control">
                                
                                <button type="submit" class="btn btn-primary btn-md" style="font-weight: bold">Get OTP</button>
                            </div>
                        </form>
                    </div>
                    
                  </div>

                <!-- <h4 class="page-header">Bottom Labels</h4>
                <form role="form">
                    <div class="form-group float-label-control label-bottom">
                        <label for="">Username</label>
                        <input type="email" class="form-control" placeholder="Username">
                    </div>
                </form> -->


               <!--  <h4 class="page-header">Placeholder Overrides</h4>
                <form role="form">
                    <div class="form-group float-label-control">
                        <label for="">Email Address</label>
                        <input type="email" class="form-control" placeholder="What's your email address?">
                    </div>
                </form>
 -->

            <br>
            <br>
            </div>
            <div class="col-sm-4">
                  <a href="#">News <span class="badge">5</span></a><br>
                  <a href="#">Comments <span class="badge">10</span></a><br>
                  <a href="#">Updates <span class="badge">2</span></a><br>
                  <a href="#">Likes <span class="badge">2500</span></a><br>
                  
                  <hr>
                  <a href="#">Registered users <span class="badge">3000</span></a><br>
                  <a href="#">Branches <span class="badge">5</span></a><br>
                  <a href="#">Rating <span class="badge">9/10</span></a><br>
                  <hr>
                  <marquee direction="up" style="height: 100px" scrolldelay="100">
                      <p>
                        <h5>Have a nice ride.</h5>
                        <img src="{% static 'images/50off.jpg' %}" height="100px"><br>
                        <h5>Query us if you have any problem with our ride.</h5>
                        <img src="{% static 'images/offer-exclusive.png' %}" height="100px"><br>
                        <h5>Give us a chance to serve you.</h5>
                      </p>
                  </marquee>
                  <marquee direction="left" style="height: 110px" scrolldelay="150">
                      <p>
                        <img src="{% static 'images/taxi3.jpg' %}" height="100px">
                        <img src="{% static 'images/taxi2.jpg' %}" height="100px">
                        <img src="{% static 'images/taxi1.jpg' %}" height="100px">
                        <img src="{% static 'images/srs_bus2.jpg' %}" height="100px">
                      </p>
                  </marquee>
            </div>
        </div>
   <!--  </div> -->
    <hr>
</div>

<!--Input form-->
   <!--  <div class="container">
        <div class="row">
            <div class="col-sm-4">
                
                <img src="{% static 'images/500x500.png' %}" class="img-responsive">
            </div>
             <div class="col-sm-4">
                
                <img src="{% static 'images/500x500.png' %}" class="img-responsive">
            </div>
            <div class="col-sm-4">
                 <img src="{% static './images/500x500.png' %}" class="img-responsive">
            </div>
        </div>
    </div> -->
    <!---
      Image pills
    -->  
      <div class="container"> 
          <h1 id="h1-vehicles">OUR VEHICLES</h1>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home-img">CAR</a></li>
            <li><a data-toggle="tab" href="#menu1-img">MINI BUS</a></li>
            <li><a data-toggle="tab" href="#menu2-img">BUS</a></li>
            <li><a data-toggle="tab" href="#menu3-img">TRUCK</a></li>
           <!--  <li><a data-toggle="tab" href="#menu3-im">Menu 3</a></li> -->
          </ul>

            <div class="tab-content">
              <div id="home-img" class="tab-pane fade in active">
                      <br>
                      <div class="row">
                        <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/taxi.jpg' %}" class="img-responsive" style="height:140px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                             
                        </div>
                         <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/taxi5.png' %}" class="img-responsive" style="height:140px;padding-top: 10px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">NONO</h3>
                             <p class="car_mileage"><b>Mileage - </b> 9 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.9L</p>
                             <p class="car_price"><b>Price - </b> Rs. 650/Hr </p>
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                        <div class="col-sm-4 itemzoom">
                             <img src="{% static './images/taxipraha-octavia3.png' %}" class="img-responsive" style="height:140px;">
                             <div class="item-overlay top"></div>
                              <h3 class="img_title">RITZ</h3>
                              <p class="car_mileage"><b>Mileage - </b> 12 KM/LTR</p>
                              <p class="car_volume"><b>Volume Capacity - </b> 2.3L</p>
                              <p class="car_price"><b>Price - </b> Rs. 700/Hr </p>
                               <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                    </div>
              </div>
              <div id="menu1-img" class="tab-pane fade">
                      <br>
                      <div class="row">
                        <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/mini_bus.jpg' %}" class="img-responsive" style="height: 270px">
                            
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>

                        </div>
                         <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/mini_bus2.png' %}" class="img-responsive" style="height: 270px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                        <div class="col-sm-4 itemzoom">
                             <img src="{% static './images/mini_bus3.jpg' %}" class="img-responsive" style="height: 270px">
                             <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                    </div>                
              </div>
              <div id="menu2-img" class="tab-pane fade">
                      <br>
                      <div class="row">
                        <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/bus.jpg' %}" class="img-responsive" style="height:230px;">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                         <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/bus2.jpg' %}" class="img-responsive"  style="height:230px;">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                        <div class="col-sm-4 itemzoom ">
                             <img src="{% static './images/bus3.jpg' %}" class="img-responsive"  style="height:230px;">
                             <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                    </div>
              </div>
              <div id="menu3-img" class="tab-pane fade">
                      <br>
                      <div class="row">
                        <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/truck.jpg' %}" class="img-responsive" style="height: 230px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                         <div class="col-sm-4 itemzoom">
                            
                            <img src="{% static 'images/truck.png' %}" class="img-responsive" style="height: 230px">
                            <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                        <div class="col-sm-4 itemzoom">
                             <img src="{% static './images/truck2.jpg' %}" class="img-responsive" style="height: 230px">
                             <div class="item-overlay top"></div>
                             <h3 class="img_title">INDICA</h3>
                             <p class="car_mileage"><b>Mileage - </b> 10 KM/LTR</p>
                             <p class="car_volume"><b>Volume Capacity - </b> 2.8L</p>
                             <p class="car_price"><b>Price - </b> Rs. 550/Hr </p>
                             
                             <a href="#h1-enter" role="button" class="btn  btn-success">Book Now</a>
                        </div>
                    </div>
              </div>
              <!-- <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div> -->
            </div>  
        </div>
    <hr>
    <div style="padding-bottom: 20px; font-family: tahoma; font-weight: bold">
          <center>Copyright &copy; 2017<br>Bangalore(Karnataka), India</center>
    </div>
    <script type="text/javascript" src="{% static './js/form.js' %}"></script>
    <script type="text/javascript" src="{% static './js/home.js' %}"></script>
    <!--My code ends-->
  </body>
</html>
