{% load staticfiles %}

{% include "place_options.html" %}

<!--Mysore City Tour -->
<div class="col-md-10 col-md-offset-1  col-xs-12">
		   <p id="p_head" class="text-center"  data-toggle="tooltip" title="Enjoy Mysore journey"><i class="fa fa-tachometer" aria-hidden="true"></i> Mysore City Tour</p>
          <p id="p_desc">
              The names - Mysore, Ooty and Kodaikanal, ring a bell in our head and we think of pleasant weather and lush greenery. Let us take a quick look at the three destinations which cannot be missed for anything in this world. All these destinations are located in different parts of South India. 
             <br>
		   <br>
          </p >
          <!--Mysore-->
          <div class="row">
          	 <div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-2-mysore-zoo.jpg' %}" class="img-responsive bangalore" style="width: 100%"><br>
          	 </div>
          	 <div class="col-md-8 col-xs-12">
          	 	
	              <p class="p_desc2">
	              <span class="p_head2">
	              Mysore - 
	              </span>
	              	Mysore has been renamed as Mysuru and it is a place where you will get to see tall giraffes and eat amazing South Indian cuisine. It is located at the foothills of Chamundi and there are plenty of things to do near this beautiful destination. It is the third largest city in Karnataka and you can reach this place by hiring a van or bus from us. 
	              </p>

	               
	              <p class="p_desc2">
		              <span class="p_head2">
		              Top Things to Do in Mysuru 
		              </span><br>
	              	  <ol>
	              	  	<li>
	              	  		Visit Mysore Palace – For History and Architecture Lovers. 
	              	  	</li>
						<li>
							Mysore Zoo – It is one of the oldest zoos and the moment you enter, you will be greeted by the tall giraffes. If you are an animal lover and want to watch the most exotic birds, you should visit this place. </li>
						<li>
							Chamundi Hill and Temple – The Chamundeshwari Temple is a top place to visit in Mysore. You get the blessings of goddess Chamundeshwari. 
						</li>

	              	  </ol>
	              	 
					  <i class="best-time-for-mysore">
					  		<i class="fa fa-calendar-plus-o" aria-hidden="true"></i> 
					  		<b>The best time to visit Mysuru is October to April. </b>
					  </i>
	              </p>
          	 </div>
          </div>
          <hr>
          <br>
          <!--Ooty -->
          <div class="row">
          	 <div class="col-md-8 col-xs-12">
	              <p class="p_desc2">
	              <span class="p_head2">
	              Ooty - 
	              </span>
	              	Ah! The lovely weather, water body and greenery of Ooty are breathtaking. This destination is called the Queen of Hill Stations and you will be amazed to see the beauty of this humble place. You will find many picnic spots in Ooty where you can spend quality time with your loved ones. Did you know that Ooty is also called Udhagamandalam?

	              </p>

	              <p class="p_desc2">
		              <span class="p_head2">
		              Top Things to Do in Ooty 
		              </span><br>
	              	  <ol>
	              	  	<li>
	              	  		Pykara Lake – For Nature Lovers 
	              	  	</li>
						<li>
							Shooting Point – Breathtaking sight! 
						</li>
						<li>
							Avalanche Lake – a beautiful sight for those, who like peace and tranquillity 
						</li>
						<li>
							Botanical Gardens – You will get to see the most beautiful flowers here! 
						</li>
						<li>
							The Nilgiri Mountain Railway – The best experience in Ooty 
						</li>
	              	  </ol>
	              	 
					  <i class="best-time-for-mysore">
					  	<i class="fa fa-calendar-plus-o" aria-hidden="true"></i> 
					  	<b>The best time to visit Ooty is March to June. </b>
					  </i>
	              </p>
          	 </div>
          	 <div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-2-mysore-ooty.jpeg' %}" class="img-responsive bangalore" style="width: 100%">
          	 </div>
          </div>
          <hr>
          <br>
          <!--Lodaikanal -->
          <div class="row">
          	<div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-2-mysore-kodaikanal.jpg' %}" class="img-responsive bangalore" style="width: 100%"><br>
          	</div>
          	<div class="col-md-8 col-xs-12">
	              <p class="p_desc2">
	              <span class="p_head2">
	              Kodaikanal  - 
	              </span>
	              	
                    Cycling around the water body and enjoying the fresh air at Kodaikanal is an unbeatable experience. Kodaikanal is a city in Tamil Nadu in Dindigul District. The word literally means Gift of the Forest. You will find the most amazing waterfall here where you can click endless pictures. You can rent a cycle and enjoy the views of Kodaikanal and lose some extra pounds as well! 

	              </p>
	              <p class="p_desc2">
		              <span class="p_head2">
		              Top Things to Do in Kodaikanal
		              </span><br>
	              	  <ol>
	              	  	<li>
	              	  		Kodai Lake – Boating, cycling, horse riding and shopping for little things around this lake.
	              	  	</li>
						<li>
							Green Valley View also known as the Suicide Point. Who would want to commit suicide after the seeing the beauty of this place?  
						</li>
						<li>
							Bear Shola Falls – There are no bears here! However, earlier the bears used to come and drink water from this falls and so, it got its name from there. 
						</li>
						<li>
							Silver Cascade falls – Another popular falls in Kodaikanal! It is a treat for the human eye. 
						</li>
	              	  </ol>
	              	 
					  <i class="best-time-for-mysore">
					  	<i class="fa fa-calendar-plus-o" aria-hidden="true"></i> 
					  	<b>
					  		Shouldn’t you be booking a car or van from us? You have to visit the famous destinations because life is too short to miss the beauty of India. Hire a car or van from us and you will have the best trip of your life. Our drivers are your guides and they will help you to travel safely and leisurely.  
					  	</b>
					  </i>
	              </p>
          	</div> 
          </div>
          <hr>
</div>

<!--Bangalore City Tour -->
<div class="col-md-10 col-md-offset-1  col-xs-12">
		  <p id="p_head" class="text-center"  data-toggle="tooltip" title="Enjoy Bangalore journey"><i class="fa fa-ravelry" aria-hidden="true"></i> Bangalore City Tour</p>
          <p id="p_desc">
              Bengaluru (Kannada) is a happening city and it has many tourist attractions. The city has a nickname as well! It is called the Garden City which embraces people from all over the country. The city has a mixed culture and you will find different cultures blending in. You cannot miss the local food and sightseeing at Bengaluru. How can you ever miss the local sightseeing of the city? Siddeshwara Travels offers you van and car hires services to explore the city’s best places. We are sure that you will take back memories with you. Those memories are something that you will cherish for the rest of your life. <br><br>
				
			  The Sightseeing Tour Bangalore includes places like – 
			  <br>
          </p>
          <!--Lal bagh botanical garden-->
          <div class="row">
          	 <div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-1-lalbagh.jpg' %}" class="img-responsive bangalore" style="width: 100%"><br>
          	 </div>
          	 <div class="col-md-8 col-xs-12">
          	 	
	              <p class="p_desc2">
	              <span class="p_head2">
	              Lal bagh botanical garden - 
	              </span>
	              	In English, it will be called the Red Garden. It is a well-known garden in the city of Bangalore. You will get to see the most beautiful flowers and plants in this garden. It is something you cannot miss! You must come here during Republic Day and Independence Day because you will get to see the flower show. <br><br>

	              	The Lalbagh gardens were commissioned by the 18th century and over the years it acquired India's first lawn-clock and the subcontinent's largest collection of rare plants.

	              </p>
          	 </div>
          </div>
          <hr>
          <br>
          <!--Bannerghatta Biological Park -->
          <div class="row">
          	 <div class="col-md-8 col-xs-12">
	              <p class="p_desc2">
	              <span class="p_head2">
	              Bannerghatta Biological Park - 
	              </span>
	              	This biological park was founded in the year 1970 and with the extinction of tigers, you will be pleased to see the tigers at this park. It is a beautiful sight to see the white tigers and gorgeous tortoise. The park is closed on Tuesday. 
	              </p>
          	 </div>
          	 <div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-2-biological-park.jpg' %}" class="img-responsive bangalore" style="width: 100%">
          	 </div>
          </div>
          <hr>
          <br>
          <!--Cubbon Park -->
          <div class="row">
          	<div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-3-cubbon-park.jpg' %}" class="img-responsive bangalore" style="width: 100%"><br>
          	</div>
          	<div class="col-md-8 col-xs-12">
	              <p class="p_desc2">
	              <span class="p_head2">
	              Cubbon Park - 
	              </span>
	              	This Park is close to M.G Road and it is known as the lung of the city. People usually complain that the world is coming to an end because the environment is diminishing. However, seeing this park will bring you back to life because it is wonderful for nature lovers. 
	              </p>
          	</div> 
          </div>
          <hr>
          <br>
          <!--Vidhan sabha -->
          <div class="row">
          	<div class="col-md-8 col-xs-12">
	              <p class="p_desc2">
	              <span class="p_head2">
	              Vidhan soudha - 
	              </span>
	              	If politics interests you, the Vidhana Soudha is the right spot for you to visit. It is the largest legislative building in India. If you do not visit this structure, you have missed something really fabulous. Do visit! 
	              </p>
          	</div> 
          	<div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-4-vidhana-soudha2.jpg' %}" class="img-responsive bangalore" style="width: 100%;" >
          	</div>
          	
          </div>
          <hr>
          <br>
          <!--Iskcon temple -->
          <div class="row">
          	<div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-5-iskcon-bangalore.jpg' %}" class="img-responsive bangalore" style="width: 100%"><br>
          	</div>
          	<div class="col-md-8 col-xs-12">
	              <p class="p_desc2">
	              <span class="p_head2">
	              Iskcon temple - 
	              </span>
	              	This is one of the largest temples in India and you cannot miss it because you will find devotees from all over the world at Iskcon temple. Lord Krishna and Radha are worshipped at this beautiful temple. Your trip cannot be complete without visiting the lord! <br><br>

					If your relatives are travelling to Bengaluru to visit you and your boss has not allowed you to take a leave, you can hire a car from us and our driver will take care of the rest. They will make sure that your relatives see the best of Bengaluru. 
	              </p>
          	</div> 
          </div>
          <hr>
          <br>
</div>


<!--Munnar City Tour -->
<div class="col-md-10 col-md-offset-1  col-xs-12">
		  <p id="p_head" class="text-center"  data-toggle="tooltip" title="Enjoy Munnar journey"><i class="fa fa-recycle" aria-hidden="true"></i> Munnar City Tour </p>
          <p id="p_desc">
             Munnar is a hill-station in Kerala which stays pleasant all year round. When you enter Munnar, you will be greeted by the beautiful tea plantations. If you could get an entire view of Munnar town, you will get a feeling of viewing a green blanket because the mountains are covered with tea plantations. You get the finest tea in Munnar as it is locally made there. The tea has several health benefits and you will find a lot of variety as well. 
          </p>

          <!--Munnar-->
          <div class="row">
          	 <div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-6-munnar.jpg' %}" class="img-responsive bangalore" style="width: 100%"><br>
          	 </div>
          	 <div class="col-md-8 col-xs-12">
          	 	
	              <p class="p_desc2">
		              <span class="p_head2">
		              The kashmir of kerala - 
		              </span>
	              	  The temperature in Munnar is between 5 degree to 25 degree Celsius in winters and in summers, it is pleasant and the temperature is 15 degree Celsius to 25 degree Celsius. It is one of the top destinations in Kerala that brings peace and it is a visual treat for your eyes. 

	              </p>
          	 </div>
          </div>
          
          <!--Munnar - 3 sectional details-->
          <div class="row">
	          	<div class="col-md-4 col-xs-12" style="padding:  13px;">
	          	 	 <h4 style="font-family: tahoma; font-weight: bold"> Places of Interest in Munnar </h4>
	          	 	 <hr>
	          	 	 <ul class="places">
						<li>	Munnar Tea Museum</li>
						<li>    Pallivasal</li>
						<li>    Chinnakanal</li>
						<li>    Kundla Dam</li>
						<li> 	Eravikulam National Park</li>
					 </ul>
	          	</div>

	          	<div class="col-md-4 col-xs-12" style="padding:  13px;">
	          	 	 <h4 style="font-family: tahoma; font-weight: bold"> Local Specialities in Munnar </h4>
	          	 	 <hr>
	          	 	 <ul class="places">
						<li>	Spices</li>
						<li>    Chocolates</li>
						<li>    Tea</li>
						<li>    Coffee</li>
						<li> 	Aromatic oils	</li>
					 </ul>
	          	</div>


	          	<div class="col-md-4 col-xs-12" style="padding: 13px">
	          	 	  <h4 style="font-family: tahoma; font-weight: bold">How to reach munnar?</h4>
	          	 	  <hr>
	          	 	  <p class="p_desc2">
	          	 	  	You can hire our car, van or bus services to reach Munnar. <br><br>
	          	 	  	We make travel easy to this beautiful hill station. <br>
	          	 	  	Our drivers have in-depth knowledge about the destination and they will act as a guide as well as driver for your trip!
	          	 	  </p>
	          	 </div>
          </div>
          <hr>
</div>


<!--Kerala City Tour -->
<div class="col-md-10 col-md-offset-1  col-xs-12">
		  <p id="p_head" class="text-center"  data-toggle="tooltip" title="Enjoy Kerala journey"><i class="fa fa-magic" aria-hidden="true"></i> Kerala City Tour </p>

            <p id="p_desc">
               Kerala is a must-visit destination in India. If you wish to see the backwaters or just take a swim at Cherai Beach, you should be planning it now. The best places in Kerala are Cochin and Alleppey. These two places are very popular among tourists. You will find people from all over the world, travelling to these two sites to enjoy nature’s gifts. Did you know that Kerala is known for its rejuvenating massage? Also, the spices and seafood delicacies at Kerala are delectable. Let us take a quick look at the two destinations in Kerala which will give you a reason to come back to Kerala  
            </p >
          <!--Cochin-->
          <div class="row">
          	 <div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-3-kerala-cochin.jpg' %}" class="img-responsive bangalore" style="width: 100%"><br>
          	 </div>
          	 <div class="col-md-8 col-xs-12">
          	 	
	              <p class="p_desc2">
	              <span class="p_head2">
	             Cochin - 
	              </span>
	                   This city is known as the gateway to Kerala. Fort Kochi at Cochin has the most amazing restaurants and the architecture is fantastic. The Dutch, Portuguese, British, Chinese and Arabs have left their mark here. By hiring our car and van services, you can visit Cherai Beach which is the most happening beach, where you can swim or sip a glass of wine at the rooftop restaurant. The beach is safe for swimming and there are many hotels facing the beach here. 
                        <br>
                        <br>
                        You cannot afford to miss the local cuisine at Cochin. You will find fresh fish which is marinated in Kerala spices and fried to perfection! Ah! The sight of fishing boats and Kerala cuisine at Cochin is unbeatable. 
	              </p>
          	 </div>
          </div>
          <hr>
          <br>
          <!--Alleppey -->
          <div class="row">
          	 <div class="col-md-8 col-xs-12">
	              <p class="p_desc2">
	              <span class="p_head2">
	              Alleppey - 
	              </span>
	                   Let’s get a little fancy and book a houseboat at Kerala. You can visit Cochin and hire our van or car service and visit Alleppey. It will be a pleasant ride with us because our drivers make it convenient for you to ride comfortably. Allapuzha is known as the Venice of India because you will find boat cruises all along the backwaters. You can book a one-bedroom to seven-bedroom houseboat. 
	                   <br>
	                   <br>
	                   It is a popular thing to do in Alleppey during New Year and Christmas. The houseboats are safe and fit everyone’s budget. You should also visit the Alleppey beach in the morning because it is very peaceful and it will give you a sense of calm as there are no hawkers on this beach. It sounds amazing, right? You have to go there to find that out yourself! 
	              </p>
          	 </div>
          	 <div class="col-md-4 col-xs-12">
          	 	  <img src="{% static 'images/bangalore-tour-3-kerala-alleppey-cruise.jpg' %}" class="img-responsive bangalore" style="width: 100%">
          	 </div>
          </div>
          <hr>
</div>





